{% load staticfiles %} 
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Info
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Sam LoCascio</title>
  <meta name="description" content="Sam LoCascio's portfolio">
  <meta name="author" content="Sam LoCascio">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png" />

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600%7CMontserrat:400,700%7COpen+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

  <!-- ICONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href=" {% static 'stylesheets/ionicons.min.css' %} ">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static 'stylesheets/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static  "stylesheets/isotope.css" %}" >
  <link rel="stylesheet" href="{% static  "stylesheets/venobox.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/owl.carousel.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/sidepanel.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/elements.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/slimmenu.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/main.css" %} ">
  <link rel="stylesheet" href="{% static "stylesheets/main-bg.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/main-responsive.css" %} ">

  <link href=" {% static ' plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet' %}"/>

  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  <!-- LESS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet/less" type="text/css" href="{% static "less/color.less" %}" >
  <link rel="stylesheet/less" type="text/css" href="{% static "less/fonts.less" %}" >
  <script src= "{% static "less/less.min.js" %}"> </script>


</head>

<body>

  <!-- Preloader
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="preloader"> 
    <div id="status"></div> 
  </div>

   <nav class="mobile-nav">
            {% comment %} <nav class="mastnav font2"> {% endcomment %}
            <ul id="menu" class="slimmenu ">
              <li class="trigger-sub-nav font2"><a data-sub-nav-target="intro" data-filter=".about" class="main-nav-link" href="{% url 'home' %}">About</a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="works" data-filter=".project" class="main-nav-link" href= "{% url 'portfolio' %}">Projects</a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="pages" data-filter=".ui" class="main-nav-link" href="{% url 'design' %}"> Design Process</a></li>
               <li><a href="mailto:sflocascio@gmail.com"> &nbsp; Contact </a></li>
               <li>
                  <a class="sub-collapser" href="">More</a>
                  <ul>
                      
                      <li><a href="https://www.linkedin.com/in/sam-locascio/" target="_blank" ><span class="ion-social-linkedin-outline"> Linkedin </span></a></li>
                      <li><a href="https://github.com/sflocascio" target="_blank" ><span class="ion-social-github-outline"> Github </span></a></li>
                      <li><a href="https://www.facebook.com/sflocascio " target="_blank" ><span class="ion-social-facebook-outline"> Facebook </span></a></li>
                      
                      <li><a href="https://www.dropbox.com/s/hs9jv4cgzzjrsu7/SamLoCascio.pdf?dl=0 " target="_blank" ><span class="ion-ios-download-outline dark"> Download Resume </span></a></li>
                  </ul>
              </li> 
              
            </ul>
            </nav>




  <a class="onscreen-trigger" href="#"><img alt="" title="" src="images/next.svg"/></a>

  <!-- Header
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="newpic">
  <header class="masthead white-bg fullheight">
    <div class="valign">
      <div class="inner">
      <a class="#" href="{% url 'home' %}" ><img alt="" title="" class="logo" src="https://lh3.googleusercontent.com/i_oM_TXIDC_6ajgLjLHLpgXpdq9IMnBiIY4eaduMJrD1QCVtjg-C2LCeoJSbuDZ580leaIJYLP5rLXy_M28Q3gTROc6X71WmqzNOP_bK1tNiFXOy_boD0REnf2W7U7gUl1W2MfcUaKcTkcN429vtfyv48sTZrwzcFcaXuYqIwBdihHc19Lv_eAWfSjy2GsylWt3ZIq3Yw9O1Mox7lnZ4btyY6mURmtpMKr8GfCMRCTf8Os8UIhVmmAeKOKQXX1AgQOeZb6rn-cinETjwwp234oIZa9NegdLPE1OIXDEPs--nPexrlg7XyqdSJtURvIepOVohu5v-kh1alAF2O2BZtEuMHnGGmTs9lrgrDOLRY0muGl7PzWrgeSEtyPeHHPvoWGxDkUezvdLAtodee61FI6_ixqxhUJstQr_y7EPaaznjHWQybvO4t3arBTstEFg8tC3bmQOsKrBMiJullJoX4ubGPd8fq9o-TFACf0Tn-WE4cNmw7J03K__FAD46tBjbP_aU4VfP-aA83mlBzGlv8OfUPzDTJ_kZJhSgbdwXNcksFso340dFlN2bLUZ6-HG08IiMN53xITYenwgEfKuTLhKyZyfz3UFKvWLku5oYi5U7CbA_bxoNwvo7I6s8IzReuNpKvweAqnZuw6jSZuWaKF6CpuC5obk=s60-no"/></a>
          {% comment %} <a class="ajax-link" href="index.html"><img alt="" title="" class="logo" src="static/images/logo.png"/></a> {% endcomment %}
          <nav class="mastnav font2">


          <ul >
              <li class="trigger-sub-nav font2"><a data-sub-nav-target="intro" data-filter=".about" class="main-nav-link" href="{% url 'home' %}">About</a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="works" data-filter=".project" class="main-nav-link" href= "{% url 'portfolio' %}">Projects</a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="pages" data-filter=".ui" class="main-nav-link" href="{% url 'design' %}"> Design Process</a></li>
              {% comment %} <li class="trigger-sub-nav"><a data-sub-nav-target="pages" data-filter=".ui" class="main-nav-link" href="#"> Resume </a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="pages" data-filter=".ui" class="main-nav-link" href="#">  Contact </a></li> {% endcomment %}
              {% comment %} <li><a class="ajax-link" href="project01.html">Resume</a></li> {% endcomment %}
              {% comment %} <li class="trigger-sub-nav"><a data-sub-nav-target="works" class="main-nav-link" href=  "{% url 'post' %}">Link</a></li> {% endcomment %}
              
            </ul>
            
          </nav>
      </div>
    </div>

          
          
    <div class="sticky-icons">
        <ul>
            <li><a class="fullscreen-toggle" href="#"><img alt="" title="" src="static/images/prev.svg"/></a></li>
        </ul>
    </div>
  </header>


  


  <section class="sticky-sidebar white-bg fullheight text-center">
      <div class="valign">
          <ul>
            {% comment %} <li><a href="#" class="works-filter-trigger"><span class="ion-ios-shuffle dark"></span></a></li>
            <li><a href="#0" class="cd-btn"><span class="ion-ios-download-outline dark"></span></a></li> {% endcomment %}
            <li><a href="#0" class="share-panel-trigger show"><span class="ion-ios-email-outline dark"></span></a></li>
            <li><a href="#0" class="share-panel-trigger show"><span class="ion-ios-world-outline dark"></span></a></li>
            <li><a href="#0" class="share-panel-trigger show"><span class="ion-ios-download-outline dark"></span></a></li>
            
            {% comment %} <li><a class="ajax-link" href="works.html"><span class="ion-ios-grid-view-outline dark"></span></a></li> {% endcomment %}
          </ul>
      </div>
  </section>


<!-- dummy overlay for whole page when sidebar is active -->
<section class="featured-mask-overlay"></section>




<section class="mastwrap-outer cd-main-content">
  

  <!-- MASTER CONTENT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <section id="ajax-content" class="mastwrap spaced-left">
      

<!--works filter panel :starts -->
<section id="works-filter-panel" class="works-filter-panel silver-bg">
<div class="works-filter-wrap">
      <ul class="works-filter text-left clearfix font4light" >
          {% comment %} <li><a id="all" href="#" data-filter=".about" class="active"><span>All</span></a></li>  {% endcomment %}
          <li><a href="#" data-filter=".branding"><span>Branding</span></a></li>
          <li><a href="#" data-filter=".graphics"><span>Graphics</span></a></li>
          <li><a href="#" data-filter=".logos"><span>Logos</span></a></li>
          <li><a href="#" data-filter=".ui"><span>UI</span></a></li>
          <li><a href="#" data-filter=".web"><span>Web</span></a></li>
          <li><a href="#" data-filter=".about"><span>About</span></a></li>
          <li><a href="#" data-filter=".project"><span>Projects</span></a></li>
      </ul>
</div>
</section>
<!-- works filter panel :ends -->

    {% comment %} <section class="sub-wrap about white-bg">
        <div class="container-fluid">
          <div class="row">
            <article class="col-md-12 text-left caption add-top-quarter">
                <h6 class="font2 dark">Sam LoCascio</h6>
            </article>
          </div>
        </div>
    </section> {% endcomment %}


          <div id="works-container" class="works-container works-masonry-container clearfix white-bg">


              



            


               

            


               <!-- start : works-item -->
               <br>
               <br>
               <div class="#">
              <div class="works-item works-item-one-third zoom ui ">
              <article class="text-left news-sidebar">
              <br>
                <h2 class="font2 dark ">  Design Process</h2>
                <div class="liner color-bg"></div>
                <br>
              <br>
              <br>
            </article>
            
              {% comment %} <p class="sppad">  UI Approach 6.1 . Collaborate with stakeholders, investiagte  user goals and motivations  to understand exact user needs.</p>
                      {% endcomment %}
              </div>
              
              <!-- end : works-item -->

              <!-- start : works-item -->
              <div class="works-item works-item-one-third zoom ui ">
              <article class="text-left news-sidebar not-visible">
              <br>
                <h2 class="font2 dark ">  Design Process</h2>
                <div class="liner color-bg"></div>
                 <br>
              <br>
              <br>
            </article>
            
              {% comment %} <p class="sppad not-visible">  UI Approach 6.1 . Collaborate with stakeholders, investiagte  user goals and motivations  to understand exact user needs.</p> {% endcomment %}
                     
              </div>
              <!-- end : works-item -->

              <!-- start : works-item -->
              <div class="works-item works-item-one-third zoom ui   ">
              <article class="text-left news-sidebar not-visible">
              <br>
                <h2 class="font2 dark ">  Design Process</h2>
                <div class="liner color-bg"></div>
                 <br>
              <br>
              <br>
            </article>
            
              {% comment %} <p class="sppad not-visible">  UI Approach 6.1 . Collaborate with stakeholders, investiagte  user goals and motivations  to understand exact user needs.</p> {% endcomment %}
                     
              </div>
              
              
              
              <!-- end : works-item -->
             
              




              <!-- start : works-item -->
              
              <div class="works-item works-item-one-third zoom ui spcolor2 spshadow">
              <article class="text-left news-sidebar">
              <br>
                <h3 class="font2 dark">  <i class="fas fa-book fa-3x"></i>&nbsp;&nbsp;1. Analysis</h3>
                <div class="liner color-bg"></div>
            </article>
              
              {% comment %} <a  title="Store"><i style="color:#1C76D0;" class="fas fa-search fa-2x"></i> <b> Business Directory </b></a> {% endcomment %}
              <p class="sppad">  Collaborate with stakeholders and investigate user goals and motivations to understand and define exact user needs.</p>
                      
              </div>
              <!-- end : works-item -->

              <!-- start : works-item -->
              <div class="works-item works-item-one-third zoom ui spcolor3 spshadow">
              <article class="text-left news-sidebar">
              <br>
                <h3 class="font2 dark">  <i class="fas fa-edit fa-3x"></i>&nbsp;&nbsp;2. Card Sorting</h3>
                <div class="liner color-bg"></div>
            </article>
              
              {% comment %} <a  title="Store"><i style="color:#1C76D0;" class="fas fa-search fa-2x"></i> <b> Business Directory </b></a> {% endcomment %}
              <p class="sppad"> Ideate solutions by creating wireframes and mockups. Gathering user and stakeholder feedback.</p>
                   
              </div>
              <!-- end : works-item -->

              <!-- start : works-item -->
              <div class="works-item works-item-one-third zoom ui spcolor5 spshadow">
              <article class="text-left news-sidebar">
              <br>
                <h3 class="font2 dark">  <i class="far fa-object-group fa-3x"></i>&nbsp;&nbsp;3.  Visual Design </h3>
                <div class="liner color-bg"></div>
            </article>
              
              {% comment %} <a  title="Store"><i style="color:#1C76D0;" class="fas fa-search fa-2x"></i> <b> Business Directory </b></a> {% endcomment %}
              <p class="sppad"> Design a high-res prototype of the interface that reflects research and feedback from Card Creation phase.</p>
                      
              </div>
              <!-- end : works-item -->

               <!-- start : works-item -->
              <div class="works-item works-item-one-third zoom ui spcolor5 spshadow">
              <article class="text-left news-sidebar">
              <br>
                <h3 class="font2 dark">  <i class="fas fa-code fa-3x"></i> &nbsp;&nbsp;4. Front End Development </h3>
                <div class="liner color-bg"></div>
                <br>
                
            </article>
              
              {% comment %} <a  title="Store"><i style="color:#1C76D0;" class="fas fa-search fa-2x"></i> <b> Business Directory </b></a> {% endcomment %}
              <p class="sppad">  Prototype the agreed design in code using HTML, CSS, Jquery, and JavaScript</p>
              <br>
                      
              </div>
              <!-- end : works-item -->

               <!-- start : works-item -->
              <div class="works-item works-item-one-third zoom ui spcolor8 spshadow">
              <article class="text-left news-sidebar">
              <br>
                <h3 class="font2 dark"> <i class="fas fa-users fa-3x "></i>&nbsp;&nbsp;5. User Testing</h3>
                <div class="liner color-bg"></div>
            </article>
              
              {% comment %} <a  title="Store"><i style="color:#1C76D0;" class="fas fa-search fa-2x"></i> <b> Business Directory </b></a> {% endcomment %}
              <p class="sppad">  Perform research through series of usability and accessibility tests , evaluate design with multiple user scenarios.</p>
                      
              </div>
              <!-- end : works-item -->

               <!-- start : works-item -->
              <div class="works-item works-item-one-third zoom ui spcolor3 spshadow">
              <article class="text-left news-sidebar">
              <br>
                <h3 class="font2 dark">  <i class="fas fa-redo-alt  fa-3x"></i> &nbsp;&nbsp;6. Iteration</h3>
                <div class="liner color-bg"></div>
                <br>
            </article>
              
              {% comment %} <a  title="Store"><i style="color:#1C76D0;" class="fas fa-search fa-2x"></i> <b> Business Directory </b></a> {% endcomment %}
              <p class="sppad"> Redo the entire process and use new insights to improve on the  product’s design and user experience.</p>
                     <br> 
              </div>
              <!-- end : works-item -->

              <!-- start : works-item -->
              <div class="works-item works-item-full-width zoom ui ">
                <article class="text-left news-sidebar">
                <br>
                 <p class="sppad black"> <i>“Something that looks great but is difficult to use is exemplary of great UI and poor UX. While Something very usable that looks terrible is exemplary of great UX and poor UI.” </i> </p>
               <p class="sppad black"> This is one of my favorite expressions of UI and UX. My goal and approach with UI and UX is to connect business goals with user needs through a process of testing and refinement that leads to a product that satisfies both sides of the relationship.   </p>
                 <p class="sppad black"> In other words, my ultimate goal is to make something that looks great <i> and </i> is very usable.    </p>

                  <p class="sppad black"> <b>Tools:</b> Sketch io, Figma, Illustrator, Photoshop  </p>
                 
              </article>       
                </div>

              
              
              <!-- end : works-item -->


              


              








            </div>
            </div>
            <!-- end : works-container -->




  <!-- FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <footer class="mastfoot container-fluid white-bg">
    <div class="row">
          <article class="credits col-md-6">
              <!-- <p class="font4 dark">Copyright &copy; 2019 <a target="_blank" > </a></p> -->
          </article>
          <ul class="foot-social col-md-6 text-right">
            <li><h2><a href="https://www.linkedin.com/in/sam-locascio/" target="_blank" ><span class="ion-social-linkedin-outline"></span></a></h2></li>
            
            <li><h2> <li><a href="https://github.com/sflocascio" target="_blank" ><span class="ion-social-github-outline"></span></a></h2></li>
            <li><h2><a href="https://www.facebook.com/sflocascio " target="_blank" ><span class="ion-social-facebook-outline"></span></a></h2></li>
          </ul>
    </div>
  </footer>


  </section>
  <!-- end : mastwrap -->






</section>
<!-- mastwrap-outer ends -->


<!--featured works panel :starts -->
<section class="featured-panel cd-panel from-right">
    <div class="cd-panel-header white-bg">
      <h1 class="featured-projects-heading font3 dark">Featured Projects</h1>
      <a href="#0" class="cd-panel-close white">x</a>
    </div> <!-- cd-panel-header -->

    <div class="cd-panel-container">
      <div class="cd-panel-content">

          <!-- featured-item -->
          <div class="featured-item-block">
              <img alt="" title="" class="img-responsive" src="images/featured/01.jpg"/>
              <a class="ajax-link" href="project01.html">
                <div class="featured-panel-item-overlay">
                  <div class="valign">
                    <h3 class="font2 white"><span>Project Title</span></h3>
                  </div>
                </div>
              </a>
          </div>

          <!-- featured-item -->
          <div class="featured-item-block">
              <img alt="" title="" class="img-responsive" src="images/featured/02.jpg"/>
              <a class="ajax-link" href="project02.html">
                <div class="featured-panel-item-overlay">
                  <div class="valign">
                    <h3 class="font2 white"><span>Project Title</span></h3>
                  </div>
                </div>
              </a>
          </div>

          <!-- featured-item -->
          <div class="featured-item-block">
              <img alt="" title="" class="img-responsive" src="images/featured/03.jpg"/>
              <a class="ajax-link" href="project01.html">
                <div class="featured-panel-item-overlay">
                  <div class="valign">
                    <h3 class="font2 white"><span>Project Title</span></h3>
                  </div>
                </div>
              </a>
          </div>

          <!-- featured-item -->
          <div class="featured-item-block">
              <img alt="" title="" class="img-responsive" src="images/featured/04.jpg"/>
              <a class="ajax-link" href="project02.html">
                <div class="featured-panel-item-overlay">
                  <div class="valign">
                    <h3 class="font2 white"><span>Project Title</span></h3>
                  </div>
                </div>
              </a>
          </div>

          <!-- featured-item -->
          <div class="featured-item-block">
              <img alt="" title="" class="img-responsive" src="images/featured/05.jpg"/>
              <a class="ajax-link" href="project01.html">
                <div class="featured-panel-item-overlay">
                  <div class="valign">
                    <h3 class="font2 white"><span>Project Title</span></h3>
                  </div>
                </div>
              </a>
          </div>

          <!-- featured-item -->
          <div class="featured-item-block">
              <img alt="" title="" class="img-responsive" src="images/featured/06.jpg"/>
              <a class="ajax-link" href="project02.html">
                <div class="featured-panel-item-overlay">
                  <div class="valign">
                    <h3 class="font2 white"><span>Project Title</span></h3>
                  </div>
                </div>
              </a>
          </div>

          <!-- featured-item -->
          <div class="featured-item-block">
              <img alt="" title="" class="img-responsive" src="images/featured/07.jpg"/>
              <a class="ajax-link" href="project01.html">
                <div class="featured-panel-item-overlay">
                  <div class="valign">
                    <h3 class="font2 white"><span>Project Title</span></h3>
                  </div>
                </div>
              </a>
          </div>


      </div> <!-- cd-panel-content -->
    </div> <!-- cd-panel-container -->
</section> 
<!-- featured works panel :ends -->


<!--share panel :starts -->
<section class="share-panel white-bg fullheight">
    <a href="#0" class="share-panel-close white">x</a>
    {% comment %} <div class="share-panel-heading font3 dark"> Contact / Download Resume </div>
    <div class="share-panel-heading font3 dark"> Contact / Download Resume </div> {% endcomment %}
    <br>
    <br>
    <br>
    <br>
    
    <div class="valign">
    <p> Contact / Download Resume </p>
        <ul>
          {% comment %} <li><a href="#"><span class="ion-social-twitter dark"></span></a></li> {% endcomment %}
          <li><a href="mailto:sflocascio@gmail.com"><span class="ion-ios-email-outline dark"></span></a></li>
          
          <li><a href="https://www.dropbox.com/s/hs9jv4cgzzjrsu7/SamLoCascio.pdf?dl=0 " target="_blank" ><span class="ion-ios-download-outline dark"></span></a></li>
        </ul>
        <br>
        <p> Social  </p>
        <ul>
          {% comment %} <li><a href="#"><span class="ion-social-twitter dark"></span></a></li> {% endcomment %}
          <li><a href="https://www.linkedin.com/in/sam-locascio/" target="_blank" ><span class="ion-social-linkedin-outline"></span></a></li>
          <li><a href="https://github.com/sflocascio" target="_blank" ><span class="ion-social-github-outline"></span></a></li>
        <li><a href="https://www.facebook.com/sflocascio " target="_blank" ><span class="ion-social-facebook-outline"></span></a></li>
        </ul>
    </div>
</section>
<!-- share panel :ends -->








  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
  <script src= "{% static "javascripts/libs/common.js" %}" ></script>
  <script src="{% static "javascripts/libs/bootstrap.min.js" %}"></script>
  <script src="{% static "javascripts/custom/main.js" %}"></script>

</body>
</html>
