{% load staticfiles %} 
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Info
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>SLOC Welcome</title>
  <meta name="description" content="OTTO - A premium web template from Designova">
  <meta name="author" content="Designova">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png" />

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600%7CMontserrat:400,700%7COpen+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

  <!-- ICONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href=" {% static 'stylesheets/ionicons.min.css' %} ">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static 'stylesheets/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static  "stylesheets/isotope.css" %}" >
  <link rel="stylesheet" href="{% static  "stylesheets/venobox.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/owl.carousel.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/sidepanel.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/elements.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/slimmenu.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/main.css" %} ">
  <link rel="stylesheet" href="{% static "stylesheets/main-bg.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/main-responsive.css" %} ">

  <link href=" {% static ' plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet' %}"/>

  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  <!-- LESS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet/less" type="text/css" href="{% static "less/color.less" %}" >
  <link rel="stylesheet/less" type="text/css" href="{% static "less/fonts.less" %}" >
  <script src= "{% static "less/less.min.js" %}"> </script>


</head>

<body>

  <!-- Preloader
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="preloader"> 
    <div id="status"></div> 
  </div>




  <a class="onscreen-trigger" href="#"><img alt="" title="" src="images/next.svg"/></a>

  <!-- Header
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <header class="masthead white-bg fullheight">
    <div class="valign">
      <div class="inner">
          <a class="ajax-link" href="index.html"><img alt="" title="" class="logo" src="static/images/logo.png"/></a>
          <nav class="mastnav font2">
            <ul class="works-filter">
              <li class="trigger-sub-nav"><a data-sub-nav-target="intro" data-filter=".about" class="main-nav-link" href="#">About</a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="works" data-filter=".project" class="main-nav-link" href=  "#" >Projects</a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="pages" data-filter=".ui" class="main-nav-link" href="#"> Design Process</a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="pages" data-filter=".ui" class="main-nav-link" href="#"> Resume </a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="pages" data-filter=".ui" class="main-nav-link" href="#">  Contact </a></li>
              {% comment %} <li><a class="ajax-link" href="project01.html">Resume</a></li> {% endcomment %}
               <li class="trigger-sub-nav"><a data-sub-nav-target="works" class="main-nav-link" href=  "{% url 'elements' %}">Link</a></li> 
              
            </ul>
            


          </nav>
      </div>
    </div>

          
          
    <div class="sticky-icons">
        <ul>
            <li><a class="fullscreen-toggle" href="#"><img alt="" title="" src="static/images/prev.svg"/></a></li>
        </ul>
    </div>
  </header>


  


  <section class="sticky-sidebar white-bg fullheight text-center">
      <div class="valign">
          <ul>
            <li><a href="#" class="works-filter-trigger"><span class="ion-ios-shuffle dark"></span></a></li>
            <li><a href="#0" class="cd-btn"><span class="ion-ios-browsers-outline dark"></span></a></li>
            <li><a href="#0" class="share-panel-trigger show"><span class="ion-ios-heart-outline dark"></span></a></li>
            <li><a class="ajax-link" href="works.html"><span class="ion-ios-grid-view-outline dark"></span></a></li>
          </ul>
      </div>
  </section>


<!-- dummy overlay for whole page when sidebar is active -->
<section class="featured-mask-overlay"></section>




<section class="mastwrap-outer cd-main-content">
  

  <!-- MASTER CONTENT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <section id="ajax-content" class="mastwrap spaced-left">
      

<!--works filter panel :starts -->
<section id="works-filter-panel" class="works-filter-panel silver-bg">
<div class="works-filter-wrap">
      <ul class="works-filter text-left clearfix font4light" >
          {% comment %} <li><a id="all" href="#" data-filter=".about" class="active"><span>All</span></a></li>  {% endcomment %}
          <li><a href="#" data-filter=".branding"><span>Branding</span></a></li>
          <li><a href="#" data-filter=".graphics"><span>Graphics</span></a></li>
          <li><a href="#" data-filter=".logos"><span>Logos</span></a></li>
          <li><a href="#" data-filter=".ui"><span>UI</span></a></li>
          <li><a href="#" data-filter=".web"><span>Web</span></a></li>
          <li><a href="#" data-filter=".about"><span>About</span></a></li>
          <li><a href="#" data-filter=".project"><span>Projects</span></a></li>
      </ul>
</div>
</section>
<!-- works filter panel :ends -->

    <section class="sub-wrap about white-bg">
        <div class="container-fluid">
          <div class="row">
            <article class="col-md-12 text-left caption add-top-quarter">
                {% comment %} <h6 class="font2 dark">Sam LoCascio</h6> {% endcomment %}
            </article>
          </div>
        </div>
    </section>


          <div id="works-container" class="works-container works-masonry-container clearfix white-bg">


              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom about spcolor2 spshadow">
              
              <br>
              <br>
              <br>
              <br>
              <br>
                      <img alt="" title="" class="img-responsive imgcenter" width="50%" src="static/images/photography/sam.png"/>
                      {% comment %} <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/sam.png"> {% endcomment %}
                          {% comment %} <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div> {% endcomment %}
                      </a>
                      <br>
                      <h1 class="center"> Sam LoCascio </h1>
                      <br>
                     
                      <p class="center sppad3 black"> Web Developer - Musician - Reocrding Eingineer - Nature Enthusiast - Kayak Owner </p>
                      <br>
                      <div class ="center">
                          <i class="fab fa-linkedin fa-2x "></i>&nbsp;&nbsp;
                          <i class="fab fa-github fa-2x "></i>&nbsp;&nbsp;
                          <i class="fab fa-facebook-square fa-2x "></i>
                     </div>
                      <br>
                      
              </div>
              <!-- end : works-item -->



              <!-- start : works-item -->
              <div class="works-item works-item-two-third-spaced zoom about spcolor3 sppad1 spshadow ">
              <div class="sppad2">
              <h4 class="font2 dark"> About </h4>
                <div class="liner color-bg"></div>
                </div>

              {% comment %} <h4 class="sppad"> About </h4> {% endcomment %}
              <p class="sppad1 black"> I’m a natural creative who loves problem solving and the journey of building new things. My first exposure to coding happened sometime in the Myspace era when I began adding HTML and CSS to make my bands (and other bands) pages look better. I thought that was really cool. It was this investigative process that led me to be intrigued with coding and fascinated by the things that can be accomplished with technology.  </p> 
                
                <p class="sppad1 black"> I’m quite fond of the outdoors, recording music, fishing, ping pong, and (recently) cooking . I love to let my passions inspire my work whenever possible and have always loved work where I’ve able to help others.  I recently received my Full stack Certification from Momentum Learning in Durham, NC and am currently working freelance on projects set to release in 2019.   </p>      
                    
                    <p class="sppad1 black"> Feel free to contact me if you want to discuss a project or opportunity. </p>
                      {% comment %} <img alt="" title="" class="img-responsive" src="static/images/photography/02.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/02.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a> {% endcomment %}

                       
                          <p class="center"> <i class="fas fa-envelope " ></i>  &nbsp; Get in Touch </p>
                          
                          
                   

                     



              </div>
              <!-- end : works-item -->


                <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom about  spcolor2 spshadow">
              <div class="sppad">
              <h4 class="font2 dark"> UI / UX Design </h4>
                {% comment %} <div class="liner color-bg"></div> {% endcomment %}
                </div>
              {% comment %} <h4 class="sppad"> UI / UX </h4> {% endcomment %}
              <p class="sppad black"> <i>“Something that looks great but is difficult to use is exemplary of great UI and poor UX. While Something very usable that looks terrible is exemplary of great UX and poor UI.” </i> </p>
               <p class="sppad black"> This is one of my favorite expressions of UI and UX. My goal and approach with UI and UX is to connect business goals with user needs through a process of testing and refinement that leads to a product that satisfies both sides of the relationship.   </p>
                 <p class="sppad black"> In other words, to make something that looks great AND is very usable.    </p> 
                 <p class="center"> <i class="fas fa-arrow-left " ></i>  &nbsp; See Design Process </p>      
                      {% comment %} <img alt="" title="" class="img-responsive" src="static/images/photography/05.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/05.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a> {% endcomment %}
              </div>
              <!-- end : works-item -->


              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom branding about spcolor5 spshadow ">
              <div class="sppad">
              <h4 class="font2 dark"> Back-End Development </h4>
                {% comment %} <div class="liner color-bg"></div> {% endcomment %}
                </div>
              {% comment %} <h4 class="sppad"> Back End Dev </h4> {% endcomment %}
              <p class="sppad black"> Special care is taken to ensure that the right tools are chosen so the project scales well as it grows. I bring an object oriented approach to my coding to assert the code base stays as concise as possible.  and write unit tests to test code and identify any edge cases in the development process, and databases are monitored to make sure no unnecessary overload is happening.   </p>
               <p class="sppad black"> <b>Tools: </b>Python, Django, Amazon S3, PostgreSQL, Heroku, Django REST Api’s </p>
                      {% comment %} <img alt="" title="" class="img-responsive" src="static/images/photography/03.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/03.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a> {% endcomment %}
              </div>
              <!-- end : works-item -->

          <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom about spcolor4 spshadow">
              <div class="sppad">
              <h4 class="font2 dark"> Front-End Development </h4>
                {% comment %} <div class="liner color-bg"></div> {% endcomment %}
                </div>
              {% comment %} <h4 class="sppad"> Front End Dev </h4> {% endcomment %}
              <p class="sppad black"> My core aim in front-end roles is to build efficient, interactive, and beautiful applications following DRY principles and W3 guidelines. In following with an agreed upon UI design, I approach projects with a mobile first mentality, making sure visual components are intentionally structured while bringing an emphasis on accessibility.  </p>
              <p class="sppad black"> <b>Tools: </b>HTML5 , CSS3. javaScript, jQuery, VueJS, Bootstrap, Bulma </p>
                      {% comment %} <img alt="" title="" class="img-responsive" src="static/images/photography/04.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/04.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a> {% endcomment %}
              </div>
              <!-- end : works-item -->

              

              



            

              











{% comment %} 
              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom ">
              <p>  UI Approach 1 </p>
                      <img alt="" title="" class="img-responsive" src="static/images/photography/07.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/07.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->



              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom logos ">
              <p>  UI Approach 2 </p>
              
              
                      <img alt="" title="" class="img-responsive" src="static/images/photography/08.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/08.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->



              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom ">
              <p>  UI Approach 3 </p>
                      <img alt="" title="" class="img-responsive" src="static/images/photography/06.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/06.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->




               <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom ">
              <p>  UI Approach 4 </p>
                      <img alt="" title="" class="img-responsive" src="static/images/photography/09.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/09.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->



              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced">
              <p>  UI Approach 5 </p>
                      <img alt="" title="" class="img-responsive" src="static/images/photography/10.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/10.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item --> {% endcomment %}

               <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom ui ">
              <article class="text-left news-sidebar">
              <br>
                <h2 class="font2 dark">  Design Process</h2>
                <div class="liner color-bg"></div>
            </article>
              
              {% comment %} <a  title="Store"><i style="color:#1C76D0;" class="fas fa-search fa-2x"></i> <b> Business Directory </b></a> {% endcomment %}
              <p class="sppad">  UI Approach 6.1 . Collaborate with stakeholders, investiagte  user goals and motivations  to understand exact user needs.</p>
                      {% comment %} <img alt="" title="" class="img-responsive" src="static/images/photography/11.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/11.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a> {% endcomment %}
              </div>
              <!-- end : works-item -->

              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom ui ">
              <article class="text-left news-sidebar">
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br> 
                      <br> 
                      
                      
                
            </article>
              
              </div>
              <!-- end : works-item -->

              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom ui ">
              <article class="text-left news-sidebar">
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>    
                      <br> 
                      

            </article>
              
              
              </div>
              <!-- end : works-item -->
             
              




              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom ui spcolor1">
              <article class="text-left news-sidebar">
              <br>
                <h3 class="font2 dark">  <i class="fas fa-book "></i>&nbsp;&nbsp;Analysis</h3>
                <div class="liner color-bg"></div>
            </article>
              
              {% comment %} <a  title="Store"><i style="color:#1C76D0;" class="fas fa-search fa-2x"></i> <b> Business Directory </b></a> {% endcomment %}
              <p class="sppad">  UI Approach 6.1 . Collaborate with stakeholders, investiagte  user goals and motivations  to understand exact user needs.</p>
                      {% comment %} <img alt="" title="" class="img-responsive" src="static/images/photography/11.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/11.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a> {% endcomment %}
              </div>
              <!-- end : works-item -->

              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom ui spcolor1">
              <article class="text-left news-sidebar">
              <br>
                <h3 class="font2 dark">  <i class="fas fa-edit"></i>&nbsp;&nbsp;Card Sorting</h3>
                <div class="liner color-bg"></div>
            </article>
              
              {% comment %} <a  title="Store"><i style="color:#1C76D0;" class="fas fa-search fa-2x"></i> <b> Business Directory </b></a> {% endcomment %}
              <p class="sppad">  UI Approach 6.1 . Collaborate with stakeholders, investiagte  user goals and motivations  to understand exact user needs.</p>
                      {% comment %} <img alt="" title="" class="img-responsive" src="static/images/photography/11.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/11.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a> {% endcomment %}
              </div>
              <!-- end : works-item -->

              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom ui spcolor1">
              <article class="text-left news-sidebar">
              <br>
                <h3 class="font2 dark">  <i class="far fa-object-group"></i>&nbsp;&nbsp; Visual Design </h3>
                <div class="liner color-bg"></div>
            </article>
              
              {% comment %} <a  title="Store"><i style="color:#1C76D0;" class="fas fa-search fa-2x"></i> <b> Business Directory </b></a> {% endcomment %}
              <p class="sppad">  UI Approach 6.1 . Collaborate with stakeholders, investiagte  user goals and motivations  to understand exact user needs.</p>
                      {% comment %} <img alt="" title="" class="img-responsive" src="static/images/photography/11.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/11.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a> {% endcomment %}
              </div>
              <!-- end : works-item -->

               <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom ui spcolor1">
              <article class="text-left news-sidebar">
              <br>
                <h3 class="font2 dark">  <i class="fas fa-code"></i> &nbsp;&nbsp;Front End Development </h3>
                <div class="liner color-bg"></div>
            </article>
              
              {% comment %} <a  title="Store"><i style="color:#1C76D0;" class="fas fa-search fa-2x"></i> <b> Business Directory </b></a> {% endcomment %}
              <p class="sppad">  UI Approach 6.1 . Collaborate with stakeholders, investiagte  user goals and motivations  to understand exact user needs.</p>
                      {% comment %} <img alt="" title="" class="img-responsive" src="static/images/photography/11.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/11.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a> {% endcomment %}
              </div>
              <!-- end : works-item -->

               <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom ui spcolor1">
              <article class="text-left news-sidebar">
              <br>
                <h3 class="font2 dark"> <i class="fas fa-users"></i>&nbsp;&nbsp;User Testing</h3>
                <div class="liner color-bg"></div>
            </article>
              
              {% comment %} <a  title="Store"><i style="color:#1C76D0;" class="fas fa-search fa-2x"></i> <b> Business Directory </b></a> {% endcomment %}
              <p class="sppad">  UI Approach 6.1 . Collaborate with stakeholders, investiagte  user goals and motivations  to understand exact user needs.</p>
                      {% comment %} <img alt="" title="" class="img-responsive" src="static/images/photography/11.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/11.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a> {% endcomment %}
              </div>
              <!-- end : works-item -->

               <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom ui spcolor1">
              <article class="text-left news-sidebar">
              <br>
                <h3 class="font2 dark">  <i class="fas fa-redo-alt"></i> &nbsp;&nbsp;Iteration</h3>
                <div class="liner color-bg"></div>
            </article>
              
              {% comment %} <a  title="Store"><i style="color:#1C76D0;" class="fas fa-search fa-2x"></i> <b> Business Directory </b></a> {% endcomment %}
              <p class="sppad">  UI Approach 6.1 . Collaborate with stakeholders, investiagte  user goals and motivations  to understand exact user needs.</p>
                      {% comment %} <img alt="" title="" class="img-responsive" src="static/images/photography/11.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/11.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a> {% endcomment %}
              </div>
              <!-- end : works-item -->

              <!-- start : works-item -->
              <div class="works-item works-item-full-width zoom ui ">
              <article class="text-left news-sidebar">
                <ul class="works-filter">
                  <li class="trigger-sub-nav"><a  data-filter=".about"  href="#"> Back </a></li>
                
                {% comment %} <h4 class="font2 dark"> <a  data-filter=".about"  href="#"> <i class="fas fa-angle-left"></i> &nbsp;&nbsp;Back</a></h4> {% endcomment %}
                </ul>
                
            </article>
              {% comment %} <p class="sppad">  UI Approach 6.1 . Collaborate with stakeholders, investiagte  user goals and motivations  to understand exact user needs.</p> {% endcomment %}
                      
              </div>
              <!-- end : works-item -->


              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom project ">
              <article class="text-left news-sidebar">
              <br>
                <h2 class="font2 dark">  Projects </h2>
                <div class="liner color-bg"></div>
            </article>
              
              {% comment %} <a  title="Store"><i style="color:#1C76D0;" class="fas fa-search fa-2x"></i> <b> Business Directory </b></a> {% endcomment %}
              <p class="sppad">  UI Approach 6.1 . Collaborate with stakeholders, investiagte  user goals and motivations. </p>
                      {% comment %} <img alt="" title="" class="img-responsive" src="static/images/photography/11.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/11.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a> {% endcomment %}
              </div>
              <!-- end : works-item -->

              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom project ">
              <article class="text-left news-sidebar">
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                       
                      
                      
                      
                
            </article>
              
              </div>
              <!-- end : works-item -->

              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom project ">
              <article class="text-left news-sidebar">
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                           
                      
                      

            </article>
              
              
              </div>
              <!-- end : works-item -->
             
              








              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom project">
              
                      <img alt="" title="" class="img-responsive" src="static/images/photography/flashcard.png"/>
                      <a   href="{% url 'quizzer' %} ">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a>
                      <h3>  Quizzer </h3>
                      <p>  Full Stack Developer  </p>
              </div>
              <!-- end : works-item -->

              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom project">
              
                      <img alt="" title="" class="img-responsive" src="static/images/photography/chant1.png"/>
                      <a  href="{% url 'chant' %} ">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a>
                      <h3>  CHANT </h3>
                      <p>  Full Stack Developer  </p>
              </div>
              <!-- end : works-item -->

              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom project">
              
                      <img alt="" title="" class="img-responsive" src="static/images/photography/tlt.png"/>
                      {% comment %} <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/10.jpg"> {% endcomment %}
                          <a href="{% url 'post' %} "> <div class="works-item-inner"> 
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a>
                      <h3>  The Little Triangle </h3>
                      <p>  Full Stack Developer  </p>
              </div>
              <!-- end : works-item -->

              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom project">
              
                      <img alt="" title="" class="img-responsive" src="static/images/photography/itunes.png"/>
                      <a href="{% url 'itunes' %} ">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a>
                      <h3>  Itunes Seacrh </h3>
                      <p>  Front End Design </p>
              </div>
              <!-- end : works-item -->

              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom project">
              
                      <img alt="" title="" class="img-responsive" src="static/images/photography/way.png"/>
                      <a href="{% url 'wayfinder' %} ">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a>
                      <h3>  Wayfinder </h3>
                      <p>  Front End Design </p>
                      
              </div>
              <!-- end : works-item -->

              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom project">
              
                      <img alt="" title="" class="img-responsive" src="static/images/photography/oak.jpg"/>
                      <a href="{% url 'oakhouse' %} ">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a>
                      <h3>  The Oak House  </h3>
                      <p>  Front End Design </p>
              </div>
              <!-- end : works-item -->


              








            </div>
            <!-- end : works-container -->




  <!-- FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <footer class="mastfoot container-fluid white-bg">
    <div class="row">
          <article class="credits col-md-6">
              <p class="font4 dark">Copyright &copy; 2019 <a target="_blank" > sloc design </a></p>
          </article>
          <ul class="foot-social col-md-6 text-right">
            <li><a href="#"><img alt="" title="" src="images/social/01.svg"/></a></li>
            <li><a href="#"><img alt="" title="" src="images/social/02.svg"/></a></li>
            <li><a href="#"><img alt="" title="" src="images/social/03.svg"/></a></li>
            <li><a href="#"><img alt="" title="" src="images/social/04.svg"/></a></li>
          </ul>
    </div>
  </footer>


  </section>
  <!-- end : mastwrap -->






</section>
<!-- mastwrap-outer ends -->


<!--featured works panel :starts -->
<section class="featured-panel cd-panel from-right">
    <div class="cd-panel-header white-bg">
      <h1 class="featured-projects-heading font3 dark">Featured Projects</h1>
      <a href="#0" class="cd-panel-close white">x</a>
    </div> <!-- cd-panel-header -->

    <div class="cd-panel-container">
      <div class="cd-panel-content">

          <!-- featured-item -->
          <div class="featured-item-block">
              <img alt="" title="" class="img-responsive" src="images/featured/01.jpg"/>
              <a class="ajax-link" href="project01.html">
                <div class="featured-panel-item-overlay">
                  <div class="valign">
                    <h3 class="font2 white"><span>Project Title</span></h3>
                  </div>
                </div>
              </a>
          </div>

          <!-- featured-item -->
          <div class="featured-item-block">
              <img alt="" title="" class="img-responsive" src="images/featured/02.jpg"/>
              <a class="ajax-link" href="project02.html">
                <div class="featured-panel-item-overlay">
                  <div class="valign">
                    <h3 class="font2 white"><span>Project Title</span></h3>
                  </div>
                </div>
              </a>
          </div>

          <!-- featured-item -->
          <div class="featured-item-block">
              <img alt="" title="" class="img-responsive" src="images/featured/03.jpg"/>
              <a class="ajax-link" href="project01.html">
                <div class="featured-panel-item-overlay">
                  <div class="valign">
                    <h3 class="font2 white"><span>Project Title</span></h3>
                  </div>
                </div>
              </a>
          </div>

          <!-- featured-item -->
          <div class="featured-item-block">
              <img alt="" title="" class="img-responsive" src="images/featured/04.jpg"/>
              <a class="ajax-link" href="project02.html">
                <div class="featured-panel-item-overlay">
                  <div class="valign">
                    <h3 class="font2 white"><span>Project Title</span></h3>
                  </div>
                </div>
              </a>
          </div>

          <!-- featured-item -->
          <div class="featured-item-block">
              <img alt="" title="" class="img-responsive" src="images/featured/05.jpg"/>
              <a class="ajax-link" href="project01.html">
                <div class="featured-panel-item-overlay">
                  <div class="valign">
                    <h3 class="font2 white"><span>Project Title</span></h3>
                  </div>
                </div>
              </a>
          </div>

          <!-- featured-item -->
          <div class="featured-item-block">
              <img alt="" title="" class="img-responsive" src="images/featured/06.jpg"/>
              <a class="ajax-link" href="project02.html">
                <div class="featured-panel-item-overlay">
                  <div class="valign">
                    <h3 class="font2 white"><span>Project Title</span></h3>
                  </div>
                </div>
              </a>
          </div>

          <!-- featured-item -->
          <div class="featured-item-block">
              <img alt="" title="" class="img-responsive" src="images/featured/07.jpg"/>
              <a class="ajax-link" href="project01.html">
                <div class="featured-panel-item-overlay">
                  <div class="valign">
                    <h3 class="font2 white"><span>Project Title</span></h3>
                  </div>
                </div>
              </a>
          </div>


      </div> <!-- cd-panel-content -->
    </div> <!-- cd-panel-container -->
</section> 
<!-- featured works panel :ends -->


<!--share panel :starts -->
<section class="share-panel white-bg fullheight">
      <a href="#0" class="share-panel-close white">x</a>
      <div class="share-panel-heading font3 dark">social share</div>
      <div class="valign">
          <ul>
            <li><a href="#"><span class="ion-social-twitter dark"></span></a></li>
            <li><a href="#"><span class="ion-social-facebook dark"></span></a></li>
            <li><a href="#"><span class="ion-social-pinterest dark"></span></a></li>
          </ul>
      </div>
</section> 
<!-- share panel :ends -->








  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
  <script src= "{% static "javascripts/libs/common.js" %}" ></script>
  <script src="{% static "javascripts/libs/bootstrap.min.js" %}"></script>
  <script src="{% static "javascripts/custom/main.js" %}"></script>

</body>
</html>
