{% load staticfiles %} 
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Info
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>SLOC Welcome</title>
  <meta name="description" content="OTTO - A premium web template from Designova">
  <meta name="author" content="Designova">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png" />

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600%7CMontserrat:400,700%7COpen+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

  <!-- ICONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href=" {% static 'stylesheets/ionicons.min.css' %} ">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static 'stylesheets/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static  "stylesheets/isotope.css" %}" >
  <link rel="stylesheet" href="{% static  "stylesheets/venobox.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/owl.carousel.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/sidepanel.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/elements.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/slimmenu.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/main.css" %} ">
  <link rel="stylesheet" href="{% static "stylesheets/main-bg.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/main-responsive.css" %} ">

  <link href=" {% static ' plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet' %}"/>

  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  <!-- LESS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet/less" type="text/css" href="{% static "less/color.less" %}" >
  <link rel="stylesheet/less" type="text/css" href="{% static "less/fonts.less" %}" >
  <script src= "{% static "less/less.min.js" %}"> </script>


</head>

<body>

  <!-- Preloader
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="preloader"> 
    <div id="status"></div> 
  </div>

  
<!-- mobile only navigation : starts -->
<nav class="mobile-nav">
            <ul class="slimmenu">
              <li>
                  <a class="sub-collapser" href="">home</a>
                  <ul>
                      <li><a class="ajax-link" href="index01.html">masonry</a></li>
                      <li><a class="ajax-link" href="index05.html">agency</a></li>
                      <li><a class="ajax-link" href="index02.html">fashion</a></li>
                      <li><a class="ajax-link" href="index07.html">photography</a></li>
                      <li><a class="ajax-link" href="index06.html">personal</a></li>
                      <li><a class="ajax-link" href="index04.html">fullscreen</a></li>
                      <li><a class="ajax-link" href="index03.html">bg video</a></li>
                  </ul>
              </li> 
              <li>
                  <a class="sub-collapser" href="">works</a>
                  <ul>
                      <li><a class="ajax-link" href="works.html">masonry / random</a></li>
                      <li><a class="ajax-link" href="works02.html">masonry / 3 col</a></li>
                      <li><a class="ajax-link" href="works03.html">masonry / 2 col</a></li>
                      <li><a class="ajax-link" href="works04.html">masonry / 4 col</a></li>
                      <li><a class="ajax-link" href="works05.html">masonry / spaced</a></li>
                      <li><a class="ajax-link" href="works09.html">random spaced</a></li>
                      <li><a class="ajax-link" href="works06.html">square grid</a></li>
                      <li><a class="ajax-link" href="works07.html">dual column</a></li>
                      <li><a class="ajax-link" href="works08.html">single column</a></li>
                      <li><a class="ajax-link" href="project01.html">project view</a></li>
                  </ul>
              </li>
              <li>
                  <a class="sub-collapser" href="">pages</a>
                  <ul>
                      <li><a class="ajax-link" href="about.html">about</a></li>
                      <li><a class="ajax-link" href="pricing.html">pricing</a></li>
                      <li><a class="ajax-link" href="news.html">news listing</a></li>
                      <li><a class="ajax-link" href="post.html">news post</a></li>
                      <li><a class="ajax-link" href="elements.html">ui elements</a></li>
                      <li><a class="ajax-link" href="contact.html">contact</a></li>
                  </ul>
              </li>
              <li><a class="ajax-link" href="project01.html">project</a></li>
              <li><a target="_blank" href="http://themeforest.net/user/designova/portfolio">HI theme</a></li>
            </ul>
</nav>
<!-- mobile only navigation : ends -->


  <a class="onscreen-trigger" href="#"><img alt="" title="" src="images/next.svg"/></a>

  <!-- Header
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <header class="masthead white-bg fullheight">
    <div class="valign">
      <div class="inner">
          <a class="ajax-link" href="index.html"><img alt="" title="" class="logo" src="images/logo.png"/></a>
          <nav class="mastnav font2">
            <ul>
              <li class="trigger-sub-nav"><a data-sub-nav-target="intro" class="main-nav-link" href="#">About</a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="works" class="main-nav-link" href=  "{% url 'post' %}">Projects</a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="pages" class="main-nav-link" href="#">Process</a></li>
              <li><a class="ajax-link" href="project01.html">Resume</a></li>
              
            </ul>
          </nav>
      </div>
    </div>

          
          
    <div class="sticky-icons">
        <ul>
            <li><a class="fullscreen-toggle" href="#"><img alt="" title="" src="images/prev.svg"/></a></li>
        </ul>
    </div>
  </header>


  <!-- sub navigation panel : starts -->
  <section class="sub-nav-wrap fullheight dark-bg white font2">
            <div class="valign">


              <!-- sub navigation section -->
              <ul class="sub-nav sub-nav-intro">
                <li><a class="ajax-link" href="index01.html">masonry</a></li>
                <li><a class="ajax-link" href="index05.html">agency</a></li>
                <li><a class="ajax-link" href="index02.html">fashion</a></li>
                <li><a class="ajax-link" href="index07.html">photography</a></li>
                <li><a class="ajax-link" href="index06.html">personal</a></li>
                <li><a class="ajax-link" href="index04.html">fullscreen</a></li>
                <li><a class="ajax-link" href="index03.html">bg video</a></li>
              </ul>

              <!-- sub navigation section -->
              <ul class="sub-nav sub-nav-works">
                <li><a class="ajax-link" href="works.html">masonry / random</a></li>
                <li><a class="ajax-link" href="works02.html">masonry / 3 col</a></li>
                <li><a class="ajax-link" href="works03.html">masonry / 2 col</a></li>
                <li><a class="ajax-link" href="works04.html">masonry / 4 col</a></li>
                <li><a class="ajax-link" href="works05.html">masonry / spaced</a></li>
                <li><a class="ajax-link" href="works09.html">random spaced</a></li>
                <li><a class="ajax-link" href="works06.html">square grid</a></li>
                <li><a class="ajax-link" href="works07.html">dual column</a></li>
                <li><a class="ajax-link" href="works08.html">single column</a></li>
                <li><a class="ajax-link" href="project01.html">project view</a></li>
              </ul>

              <!-- sub navigation section -->
              <ul class="sub-nav sub-nav-pages">
                <li><a class="ajax-link" href="about.html">about</a></li>
                <li><a class="ajax-link" href="pricing.html">pricing</a></li>
                <li><a class="ajax-link" href="news.html">news listing</a></li>
                <li><a class="ajax-link" href="post.html">news post</a></li>
                <li><a class="ajax-link" href="elements.html">ui elements</a></li>
                <li><a class="ajax-link" href="contact.html">contact</a></li>
              </ul>

            </div>
  </section>
  <!-- sub navigation panel : ends -->


  <section class="sticky-sidebar white-bg fullheight text-center">
      <div class="valign">
          <ul>
            <li><a href="#" class="works-filter-trigger"><span class="ion-ios-shuffle dark"></span></a></li>
            <li><a href="#0" class="cd-btn"><span class="ion-ios-browsers-outline dark"></span></a></li>
            <li><a href="#0" class="share-panel-trigger show"><span class="ion-ios-heart-outline dark"></span></a></li>
            <li><a class="ajax-link" href="works.html"><span class="ion-ios-grid-view-outline dark"></span></a></li>
          </ul>
      </div>
  </section>


<!-- dummy overlay for whole page when sidebar is active -->
<section class="featured-mask-overlay"></section>




<section class="mastwrap-outer cd-main-content">
  

  <!-- MASTER CONTENT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <section id="ajax-content" class="mastwrap spaced-left">
      

<!--works filter panel :starts -->
<section id="works-filter-panel" class="works-filter-panel silver-bg">
<div class="works-filter-wrap">
      <ul class="works-filter text-left clearfix font4light" >
          {% comment %} <li><a id="all" href="#" data-filter=".about" class="active"><span>All</span></a></li>  {% endcomment %}
          <li><a href="#" data-filter=".branding"><span>Branding</span></a></li>
          <li><a href="#" data-filter=".graphics"><span>Graphics</span></a></li>
          <li><a href="#" data-filter=".logos"><span>Logos</span></a></li>
          <li><a href="#" data-filter=".ui"><span>UI</span></a></li>
          <li><a href="#" data-filter=".web"><span>Web</span></a></li>
          <li><a href="#" data-filter=".about"><span>About</span></a></li>
          <li><a href="#" data-filter=".project"><span>Projects</span></a></li>
      </ul>
</div>
</section>
<!-- works filter panel :ends -->

    <section class="sub-wrap about white-bg">
        <div class="container-fluid">
          <div class="row">
            <article class="col-md-12 text-left caption add-top-quarter">
                {% comment %} <h6 class="font2 dark">Sam LoCascio</h6> {% endcomment %}
            </article>
          </div>
        </div>
    </section>


          <div id="works-container" class="works-container works-masonry-container clearfix white-bg">


              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom about spcolor1">
              
              <br>
              <br>
              <br>
              <br>
              <br>
                      <img alt="" title="" class="img-responsive imgcenter" width="50%" src="static/images/photography/sam.png"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/sam.png">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a>
                      <br>
                      <h1 class="center"> Sam LoCascio </h1>
                      <br>
                     
                      <p class="center"> Web Developer - Musician - Reocrding Eingineer - Nature Enthusiast - Kayak Owner </p>
                      <br>
                      <ul class="center">
                          <i class="fab fa-linkedin fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                          <i class="fab fa-github fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                          <i class="fab fa-facebook-square fa-2x"></i>
                      </ul>
                      <br>
                      
              </div>
              <!-- end : works-item -->



              <!-- start : works-item -->
              <div class="works-item works-item-two-third-spaced zoom about spcolor1 sppad ">

              
              <h4 class="sppad"> About </h4>
              <p class="sppad"> Farmer bicycle partner trinity park bay 7 community northgate park the state of things slow-food herald sun, plaid the eleanor dino trail geer street duke the west end nc central scrap exchange, coffee subaru sustain-a-bull american tobacco triangle localista dapper seventy the indy. Erwin square herald sun nasher lakewood full frame watts-hillandale farmer's market, five points bouncing bulldogs authentic vest west village the indy, the bulls old five points southpoint cleveland holloway old west. Gritty french press major the bull the state of things arm wrestling fixie miami boulevard, scooter main street bimbe science and math brick, seventy fixie history hub nccu durham mag. </p> 
                      {% comment %} <img alt="" title="" class="img-responsive" src="static/images/photography/02.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/02.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a> {% endcomment %}

                       <ul class="center">
                          <p> <i class="fas fa-envelope fa-2x" ></i>  &nbsp; Get in Touch </p>
                          
                          
                      </ul>

                     



              </div>
              <!-- end : works-item -->


              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom branding about spcolor1 ">
              <h4 class="sppad"> Back End Dev </h4>
              <p class="sppad"> Farmer bicycle partner trinity park bay 7 community northgate park the state of things slow-food herald sun, plaid the eleanor dino trail geer street duke the west end nc central scrap exchange, coffee subaru sustain-a-bull american tobacco triangle localista dapper seventy the indy. Erwin square herald sun nasher lakewood full frame watts-hillandale farmer's market, five points bouncing bulldogs authentic vest west village the indy, the bulls old five points southpoint cleveland holloway old west. Gritty french press major the bull the state of things arm wrestling fixie miami boulevard, scooter main street bimbe science and math brick, seventy fixie history hub nccu durham mag. </p>
              
                      {% comment %} <img alt="" title="" class="img-responsive" src="static/images/photography/03.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/03.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a> {% endcomment %}
              </div>
              <!-- end : works-item -->

          <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom about spcolor1">
              <h4 class="sppad"> Front End Dev </h4>
              <p class="sppad"> Farmer bicycle partner trinity park bay 7 community northgate park the state of things slow-food herald sun, plaid the eleanor dino trail geer street duke the west end nc central. Farmer bicycle partner trinity park bay 7 community northgate park the state of things slow-food herald sun, plaid the eleanor dino trail geer street duke the west end nc central. Farmer bicycle partner trinity park bay 7 community northgate  </p>
                      {% comment %} <img alt="" title="" class="img-responsive" src="static/images/photography/04.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/04.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a> {% endcomment %}
              </div>
              <!-- end : works-item -->



              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom about spcolor1">
              <h4 class="sppad"> UI / UX </h4>
              <p class="sppad"> Farmer bicycle partner trinity park bay 7 community northgate park the state of things slow-food herald sun, plaid the eleanor dino trail geer street duke the west end nc central. Farmer bicycle partner trinity park bay 7 community northgate park the state of things slow-food herald sun, plaid the eleanor dino trail geer street duke the west end nc central. Farmer bicycle partner trinity park bay 7 community northgate  </p>
                      {% comment %} <img alt="" title="" class="img-responsive" src="static/images/photography/05.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/05.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a> {% endcomment %}
              </div>
              <!-- end : works-item -->











              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom ">
              <p>  UI Approach 1 </p>
                      <img alt="" title="" class="img-responsive" src="static/images/photography/07.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/07.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->



              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom logos ">
              <p>  UI Approach 2 </p>
              
              
                      <img alt="" title="" class="img-responsive" src="static/images/photography/08.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/08.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->



              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom ">
              <p>  UI Approach 3 </p>
                      <img alt="" title="" class="img-responsive" src="static/images/photography/06.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/06.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->




               <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom ">
              <p>  UI Approach 4 </p>
                      <img alt="" title="" class="img-responsive" src="static/images/photography/09.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/09.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->



              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced">
              <p>  UI Approach 5 </p>
                      <img alt="" title="" class="img-responsive" src="static/images/photography/10.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/10.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->


              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom ui spcolor1">
              <article class="text-left news-sidebar">
              <br>
                <h3 class="font2 dark">  <i class="fas fa-book "></i>&nbsp;&nbsp;Analysis</h3>
                <div class="liner color-bg"></div>
            </article>
              
              {% comment %} <a  title="Store"><i style="color:#1C76D0;" class="fas fa-search fa-2x"></i> <b> Business Directory </b></a> {% endcomment %}
              <p class="sppad">  UI Approach 6.1 . Collaborate with stakeholders, investiagte  user goals and motivations  to understand exact user needs.</p>
                      {% comment %} <img alt="" title="" class="img-responsive" src="static/images/photography/11.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/11.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a> {% endcomment %}
              </div>
              <!-- end : works-item -->

              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom ui spcolor1">
              <article class="text-left news-sidebar">
              <br>
                <h3 class="font2 dark">  <i class="fas fa-edit"></i>&nbsp;&nbsp;Card Sorting</h3>
                <div class="liner color-bg"></div>
            </article>
              
              {% comment %} <a  title="Store"><i style="color:#1C76D0;" class="fas fa-search fa-2x"></i> <b> Business Directory </b></a> {% endcomment %}
              <p class="sppad">  UI Approach 6.1 . Collaborate with stakeholders, investiagte  user goals and motivations  to understand exact user needs.</p>
                      {% comment %} <img alt="" title="" class="img-responsive" src="static/images/photography/11.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/11.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a> {% endcomment %}
              </div>
              <!-- end : works-item -->

              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom ui spcolor1">
              <article class="text-left news-sidebar">
              <br>
                <h3 class="font2 dark">  <i class="far fa-object-group"></i>&nbsp;&nbsp; Visual Design </h3>
                <div class="liner color-bg"></div>
            </article>
              
              {% comment %} <a  title="Store"><i style="color:#1C76D0;" class="fas fa-search fa-2x"></i> <b> Business Directory </b></a> {% endcomment %}
              <p class="sppad">  UI Approach 6.1 . Collaborate with stakeholders, investiagte  user goals and motivations  to understand exact user needs.</p>
                      {% comment %} <img alt="" title="" class="img-responsive" src="static/images/photography/11.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/11.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a> {% endcomment %}
              </div>
              <!-- end : works-item -->

               <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom ui spcolor1">
              <article class="text-left news-sidebar">
              <br>
                <h3 class="font2 dark">  <i class="fas fa-code"></i> &nbsp;&nbsp;Front End Development </h3>
                <div class="liner color-bg"></div>
            </article>
              
              {% comment %} <a  title="Store"><i style="color:#1C76D0;" class="fas fa-search fa-2x"></i> <b> Business Directory </b></a> {% endcomment %}
              <p class="sppad">  UI Approach 6.1 . Collaborate with stakeholders, investiagte  user goals and motivations  to understand exact user needs.</p>
                      {% comment %} <img alt="" title="" class="img-responsive" src="static/images/photography/11.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/11.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a> {% endcomment %}
              </div>
              <!-- end : works-item -->

               <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom ui spcolor1">
              <article class="text-left news-sidebar">
              <br>
                <h3 class="font2 dark"> <i class="fas fa-users"></i>&nbsp;&nbsp;User Testing</h3>
                <div class="liner color-bg"></div>
            </article>
              
              {% comment %} <a  title="Store"><i style="color:#1C76D0;" class="fas fa-search fa-2x"></i> <b> Business Directory </b></a> {% endcomment %}
              <p class="sppad">  UI Approach 6.1 . Collaborate with stakeholders, investiagte  user goals and motivations  to understand exact user needs.</p>
                      {% comment %} <img alt="" title="" class="img-responsive" src="static/images/photography/11.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/11.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a> {% endcomment %}
              </div>
              <!-- end : works-item -->

               <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom ui spcolor1">
              <article class="text-left news-sidebar">
              <br>
                <h3 class="font2 dark">  <i class="fas fa-redo-alt"></i> &nbsp;&nbsp;Iteration</h3>
                <div class="liner color-bg"></div>
            </article>
              
              {% comment %} <a  title="Store"><i style="color:#1C76D0;" class="fas fa-search fa-2x"></i> <b> Business Directory </b></a> {% endcomment %}
              <p class="sppad">  UI Approach 6.1 . Collaborate with stakeholders, investiagte  user goals and motivations  to understand exact user needs.</p>
                      {% comment %} <img alt="" title="" class="img-responsive" src="static/images/photography/11.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/11.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a> {% endcomment %}
              </div>
              <!-- end : works-item -->

              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom project">
              <p>  Project 1 </p>
                      <img alt="" title="" class="img-responsive" src="static/images/photography/10.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/10.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->

              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom project">
              <p>  Project 2 </p>
                      <img alt="" title="" class="img-responsive" src="static/images/photography/10.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/10.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->

              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom project">
              <p>  Project 3 </p>
                      <img alt="" title="" class="img-responsive" src="static/images/photography/10.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/10.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->

              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom project">
              <p>  Project 4 </p>
                      <img alt="" title="" class="img-responsive" src="static/images/photography/10.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/10.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->

              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom project">
              <p>  Project 5 </p>
                      <img alt="" title="" class="img-responsive" src="static/images/photography/10.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/10.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->

              <!-- start : works-item -->
              <div class="works-item works-item-one-third-spaced zoom project">
              <p>  Project 6 </p>
                      <img alt="" title="" class="img-responsive" src="static/images/photography/10.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="static/images/photography/10.jpg">
                          <div class="works-item-inner">
                            <h3 class="color font2">12/03/2015</h3>
                            <p><span class="dark font4">Caption</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->


              








            </div>
            <!-- end : works-container -->




  <!-- FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <footer class="mastfoot container-fluid white-bg">
    <div class="row">
          <article class="credits col-md-6">
              <p class="font4 dark">Copyright &copy; 2015 <a target="_blank" href="http://wwww.designova.net">Designova</a>.<br/><a target="_blank" href="http://themeforest.net/user/designova/portfolio">Buy this template</a></p>
          </article>
          <ul class="foot-social col-md-6 text-right">
            <li><a href="#"><img alt="" title="" src="images/social/01.svg"/></a></li>
            <li><a href="#"><img alt="" title="" src="images/social/02.svg"/></a></li>
            <li><a href="#"><img alt="" title="" src="images/social/03.svg"/></a></li>
            <li><a href="#"><img alt="" title="" src="images/social/04.svg"/></a></li>
          </ul>
    </div>
  </footer>


  </section>
  <!-- end : mastwrap -->






</section>
<!-- mastwrap-outer ends -->


<!--featured works panel :starts -->
<section class="featured-panel cd-panel from-right">
    <div class="cd-panel-header white-bg">
      <h1 class="featured-projects-heading font3 dark">Featured Projects</h1>
      <a href="#0" class="cd-panel-close white">x</a>
    </div> <!-- cd-panel-header -->

    <div class="cd-panel-container">
      <div class="cd-panel-content">

          <!-- featured-item -->
          <div class="featured-item-block">
              <img alt="" title="" class="img-responsive" src="images/featured/01.jpg"/>
              <a class="ajax-link" href="project01.html">
                <div class="featured-panel-item-overlay">
                  <div class="valign">
                    <h3 class="font2 white"><span>Project Title</span></h3>
                  </div>
                </div>
              </a>
          </div>

          <!-- featured-item -->
          <div class="featured-item-block">
              <img alt="" title="" class="img-responsive" src="images/featured/02.jpg"/>
              <a class="ajax-link" href="project02.html">
                <div class="featured-panel-item-overlay">
                  <div class="valign">
                    <h3 class="font2 white"><span>Project Title</span></h3>
                  </div>
                </div>
              </a>
          </div>

          <!-- featured-item -->
          <div class="featured-item-block">
              <img alt="" title="" class="img-responsive" src="images/featured/03.jpg"/>
              <a class="ajax-link" href="project01.html">
                <div class="featured-panel-item-overlay">
                  <div class="valign">
                    <h3 class="font2 white"><span>Project Title</span></h3>
                  </div>
                </div>
              </a>
          </div>

          <!-- featured-item -->
          <div class="featured-item-block">
              <img alt="" title="" class="img-responsive" src="images/featured/04.jpg"/>
              <a class="ajax-link" href="project02.html">
                <div class="featured-panel-item-overlay">
                  <div class="valign">
                    <h3 class="font2 white"><span>Project Title</span></h3>
                  </div>
                </div>
              </a>
          </div>

          <!-- featured-item -->
          <div class="featured-item-block">
              <img alt="" title="" class="img-responsive" src="images/featured/05.jpg"/>
              <a class="ajax-link" href="project01.html">
                <div class="featured-panel-item-overlay">
                  <div class="valign">
                    <h3 class="font2 white"><span>Project Title</span></h3>
                  </div>
                </div>
              </a>
          </div>

          <!-- featured-item -->
          <div class="featured-item-block">
              <img alt="" title="" class="img-responsive" src="images/featured/06.jpg"/>
              <a class="ajax-link" href="project02.html">
                <div class="featured-panel-item-overlay">
                  <div class="valign">
                    <h3 class="font2 white"><span>Project Title</span></h3>
                  </div>
                </div>
              </a>
          </div>

          <!-- featured-item -->
          <div class="featured-item-block">
              <img alt="" title="" class="img-responsive" src="images/featured/07.jpg"/>
              <a class="ajax-link" href="project01.html">
                <div class="featured-panel-item-overlay">
                  <div class="valign">
                    <h3 class="font2 white"><span>Project Title</span></h3>
                  </div>
                </div>
              </a>
          </div>


      </div> <!-- cd-panel-content -->
    </div> <!-- cd-panel-container -->
</section> 
<!-- featured works panel :ends -->


<!--share panel :starts -->
<section class="share-panel white-bg fullheight">
      <a href="#0" class="share-panel-close white">x</a>
      <div class="share-panel-heading font3 dark">social share</div>
      <div class="valign">
          <ul>
            <li><a href="#"><span class="ion-social-twitter dark"></span></a></li>
            <li><a href="#"><span class="ion-social-facebook dark"></span></a></li>
            <li><a href="#"><span class="ion-social-pinterest dark"></span></a></li>
          </ul>
      </div>
</section> 
<!-- share panel :ends -->








  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
  <script src= "{% static "javascripts/libs/common.js" %}" ></script>
  <script src="{% static "javascripts/libs/bootstrap.min.js" %}"></script>
  <script src="{% static "javascripts/custom/main.js" %}"></script>

</body>
</html>
