{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Info
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>SLOC Welcome</title>
  <meta name="description" content="OTTO - A premium web template from Designova">
  <meta name="author" content="Designova">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png" />

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600%7CMontserrat:400,700%7COpen+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

  <!-- ICONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href=" {% static 'stylesheets/ionicons.min.css' %} ">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static 'stylesheets/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static  "stylesheets/isotope.css" %}" >
  <link rel="stylesheet" href="{% static  "stylesheets/venobox.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/owl.carousel.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/sidepanel.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/elements.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/slimmenu.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/main.css" %} ">
  <link rel="stylesheet" href="{% static "stylesheets/main-bg.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/main-responsive.css" %} ">

  <link href=" {% static ' plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet' %}"/>

  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  <!-- LESS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet/less" type="text/css" href="{% static "less/color.less" %}" >
  <link rel="stylesheet/less" type="text/css" href="{% static "less/fonts.less" %}" >
  <script src= "{% static "less/less.min.js" %}"> </script>


</head>

<body>

  <!-- Preloader
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="preloader"> 
    <div id="status"></div> 
  </div>

  


  <a class="onscreen-trigger" href="#"><img alt="" title="" src="images/next.svg"/></a>

  <!-- Header
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <header class="masthead white-bg fullheight">
    <div class="valign">
      <div class="inner">
          <a class="ajax-link" href="index.html"><img alt="" title="" class="logo" src="https://lh3.googleusercontent.com/nBkFUJP3AM0H-sb2eESd5G1Brh8LXElfxyIjaraGmRbSMzcs-IsgBx7akbuP6oFa8bWeUyTNetBkSbvsz-mMtY15kGdEbG59FBGEejwaw9VSsFG3XwJ8oTg5lk7B0p2JKkKZW_KwyCTgoArcp3bsWz-0G2kIjnCMXSF4TerXcONTRlv8anGysCT11EGUZygPIXv8t7e0TTcjthaE70A50x70SlS9LMb_B9sXpjvsGkrMZF9qr0BgC0xyP-Ngi5p1d9BpIp6dUi5mDkjF0y5RQ61lsEHYmJf1tBrTVpWiJIwDplo5jjLy6k9jNjeMZARf6c_76gdSX6h6lR82EhQXiuvYKAlC4Jzblm06h_Uraj31zgKUpy4wQbunRIvUavYYxMedurroJplANa-uSf78hEfdXS2xEZlorG34tNkWgKguNPsjOHj1fu2UbPGf2r_HO02DEhJrFkcwKtZbWaff1G3ZHJlSvHrQ8acT3hDh6TMOiSAClmx3PWbfV0P19RfzT73AzNBbhYF6qUchWjx622yj9G9onwQKfcGc5p1x9nWv_4Qq-UH0VhrVtTZVqSjexF9oU_QVlp_NpdHv_5iKSYSt5cem0RSBeKrWzcIdlUJ4JCESjk4tuydA9cqV7FR75lZyrJzHywJ4ONGusx2_MYe-8hn_JvI=s60-no"/></a>
          <nav class="mastnav font2">


          <ul >
              <li class="trigger-sub-nav"><a data-sub-nav-target="intro" data-filter=".about" class="main-nav-link" href="{% url 'home' %}">About</a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="works" data-filter=".project" class="main-nav-link" href= "{% url 'portfolio' %}">Projects</a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="pages" data-filter=".ui" class="main-nav-link" href="{% url 'design' %}"> Design Process</a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="pages" data-filter=".ui" class="main-nav-link" href="#"> Resume </a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="pages" data-filter=".ui" class="main-nav-link" href="#">  Contact </a></li>
              {% comment %} <li><a class="ajax-link" href="project01.html">Resume</a></li> {% endcomment %}
              {% comment %} <li class="trigger-sub-nav"><a data-sub-nav-target="works" class="main-nav-link" href=  "{% url 'post' %}">Link</a></li> {% endcomment %}
              
            </ul>
            
          </nav>
      </div>
    </div>

          
          
    <div class="sticky-icons">
        <ul>
            <li><a class="fullscreen-toggle" href="#"><img alt="" title="" src="images/prev.svg"/></a></li>
        </ul>
    </div>
  </header>



  <section class="sticky-sidebar white-bg fullheight text-center">
      <div class="valign">
          <ul>
            <li><a href="#" class="works-filter-trigger"><span class="ion-ios-shuffle dark"></span></a></li>
            <li><a href="#0" class="cd-btn"><span class="ion-ios-browsers-outline dark"></span></a></li>
            <li><a href="#0" class="share-panel-trigger show"><span class="ion-ios-heart-outline dark"></span></a></li>
            <li><a class="ajax-link" href="works.html"><span class="ion-ios-grid-view-outline dark"></span></a></li>
          </ul>
      </div>
  </section>


<!-- dummy overlay for whole page when sidebar is active -->
<section class="featured-mask-overlay"></section>




<section class="mastwrap-outer cd-main-content">

  <!-- MASTER CONTENT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <section id="ajax-content" class="mastwrap spaced-left">
      


    <section class="sub-wrap pad-top-half pad-bottom-half">
        <div class="container">
          <div class="row">
            <article class="col-md-12 text-left news-post">
                <h1 class="font2 dark"> Song Findr  </h1>
                <div class="liner color-bg"></div>
                <h5 class="font4 black"> A front end web app for searching and sampling content via the itunes API. </h5>
                
              <img class="img-responsive sppic imgcenter spshadow" alt="" title="" width="100%" src="https://lh3.googleusercontent.com/WFO3oqNQFOyL4vuN2J51Vti-jly25YyXnGy7OtdTqIABpoZTUlOHFosnykepCcxpSOW121COvobrIkhOJXAwJ56oWtI7kyunYHsTbmQHrXTeQ0wgDo6HQYPiUbYlIoyb4EzWpFXkYkdkuyocear15euqDgzqruY-CfCnQtuFtDd7fTQJlHI3XDywYByDCszozxy6EpcLoCbM4jzd30TX0BJXcLW0z8rrHEM70ms2ZatFCSFdel3yyq_1uqhrJHYvwyS1uNUXgexI_f-aVutj6mdw22aQGY8wg6Yo_nWSNcjFLokY1MyseEsNO_4D8ccuw6R_F1rzGmqBxURelUAqgYgPHbaV8Kc2nSv9JPadQUfKdcZ37jBmjO0RD7SjT9XPzwOcuYbxlBEcKqk9Jf9o_-XoZb6BPbP9O861bO9S5qvUlHej6KAvdnlmbjBgtajP1iFNQ_EzBrdy44ddW6d5vvkPZ9VY67XMWDqIhHlCmZROdqrZ0ouiDPQxjAbap3It5YfIShIBAoI01JIusqjhljxSYQmKe087nOKyW3tAXqtbAB9ee5cIExeqhfMxuAexJx44qR1-hkDu540hMGwsXJgkIzvOKp6PTKlKdZmtkrkkOpIQdLjP5zZTeoGCWLx1G_JlLdffTDCiVqEd486w6kyzvp0g4W8=w1329-h781-no"/>



                
          <br>
          <br>
          <br>

          <h3 class="font2 dark"> Overview </h3>
                <div class="liner color-bg"></div>

                  <p class="font4 black">Itunes has over 26 million songs on it’s webpage. Using itunes publicly available api, I designed a simple front end application that allows a user to search by any amount of text and retrieve any songs that match the search. Clicking on any search results plays a sample audio clip of the song.   
                    <br>
                   
                  
                  </p>

              <div class=" add-top-half">
                <article class="services-item">
                <i class="fas fa-search fa-2x"></i>
                
                  {% comment %} <i class="ion-social-buffer color"></i> {% endcomment %}
                    <h4 class="font2 black">Process</h4>
                        {% comment %} <ul class="font4"> {% endcomment %}
                              

                              <ul class="font4">
                              <li>Using Jquery to make an ajax call to the api, retrieving search results </li>
                              <br>
                              <li> Render each song name, band name, thumbnail photo and song sample into one element </li>
                              <br>
                              <li> Display search results </li>
                              <br>
                              <li> Access and play each items audio elements on click </li>
                        </ul>
                        </ul>
                        <br>
                        <p class="font4 black">  Api’s give us the opportunity to access lots of public information. This exploration into the itunes Api laid the groundwork for a couple other music based projects I’ll be working on in the future. </p>
                        <br>
                        <p class="font4 black"> <i class="fab fa-github  "></i><b> See this project on Github </b> </p>
                         <br>
                          <br>
                           <br>
                            <br>
                            <br>
                          <br>
                           <br>
                            <br>
                            

                </article>
              </div>








            




              
              






            </article>
            
            
            <article class="col-md-12 text-left news-sidebar">
                <h3 class="font2 dark">More Projects</h3>
                <div class="liner color-bg"></div>
                <ul class="font4 dark">
                  <li><a href="post.html">Quizzer</a></li>
                  <li><a href="post.html">CHANT</a></li>
                  <li><a href="post.html">The Oak House</a></li>
                  <li><a href="post.html">Itunes</a></li>
                  <li><a href="post.html">Wayfinder</a></li>
                </ul>
                
                <!-- <div class="post-tags">
                    <a href="news.html" class="btn btn-otto btn-otto-dark">Django</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">Python</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">HTML</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">CSS</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">PostgreSQL</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">Heroku</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">jQuery</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">JavaScript</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">Sketch</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">minimal</a>
                </div> -->
            </article>
          </div>
        </div>
    </section>




  <!-- FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <footer class="mastfoot container-fluid white-bg">
    <div class="row">
          <article class="credits col-md-6">
              <p class="font4 dark">Copyright &copy; 2015 <a target="_blank" href="http://wwww.designova.net">Designova</a>.<br/><a target="_blank" href="http://themeforest.net/user/designova/portfolio">Buy this template</a></p>
          </article>
          <ul class="foot-social col-md-6 text-right">
            <li><a href="#"><img alt="" title="" src="images/social/01.svg"/></a></li>
            <li><a href="#"><img alt="" title="" src="images/social/02.svg"/></a></li>
            <li><a href="#"><img alt="" title="" src="images/social/03.svg"/></a></li>
            <li><a href="#"><img alt="" title="" src="images/social/04.svg"/></a></li>
          </ul>
    </div>
  </footer>


  </section>
  <!-- end : mastwrap -->






</section>
<!-- mastwrap-outer ends -->






<!--share panel :starts -->
<section class="share-panel white-bg fullheight">
      <a href="#0" class="share-panel-close white">x</a>
      <div class="share-panel-heading font3 dark">social share</div>
      <div class="valign">
          <ul>
            <li><a href="#"><span class="ion-social-twitter dark"></span></a></li>
            <li><a href="#"><span class="ion-social-facebook dark"></span></a></li>
            <li><a href="#"><span class="ion-social-pinterest dark"></span></a></li>
          </ul>
      </div>
</section> 
<!-- share panel :ends -->




  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    
  
  <script src= "{% static "javascripts/libs/common.js" %}" ></script>
  <script src="{% static "javascripts/libs/bootstrap.min.js" %}"></script>
  <script src="{% static "javascripts/custom/main.js" %}"></script>



</body>
</html>
