{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Info
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>SLOC Welcome</title>
  <meta name="description" content="OTTO - A premium web template from Designova">
  <meta name="author" content="Designova">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png" />

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600%7CMontserrat:400,700%7COpen+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

  <!-- ICONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href=" {% static 'stylesheets/ionicons.min.css' %} ">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static 'stylesheets/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static  "stylesheets/isotope.css" %}" >
  <link rel="stylesheet" href="{% static  "stylesheets/venobox.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/owl.carousel.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/sidepanel.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/elements.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/slimmenu.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/main.css" %} ">
  <link rel="stylesheet" href="{% static "stylesheets/main-bg.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/main-responsive.css" %} ">

  <link href=" {% static ' plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet' %}"/>

  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  <!-- LESS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet/less" type="text/css" href="{% static "less/color.less" %}" >
  <link rel="stylesheet/less" type="text/css" href="{% static "less/fonts.less" %}" >
  <script src= "{% static "less/less.min.js" %}"> </script>


</head>

<body>

  <!-- Preloader
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="preloader"> 
    <div id="status"></div> 
  </div>

  


  <a class="onscreen-trigger" href="#"><img alt="" title="" src="images/next.svg"/></a>

  <!-- Header
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <header class="masthead white-bg fullheight">
    <div class="valign">
      <div class="inner">
         <a class="#" href="{% url 'home' %}" ><img alt="" title="" class="logo" src="https://lh3.googleusercontent.com/i_oM_TXIDC_6ajgLjLHLpgXpdq9IMnBiIY4eaduMJrD1QCVtjg-C2LCeoJSbuDZ580leaIJYLP5rLXy_M28Q3gTROc6X71WmqzNOP_bK1tNiFXOy_boD0REnf2W7U7gUl1W2MfcUaKcTkcN429vtfyv48sTZrwzcFcaXuYqIwBdihHc19Lv_eAWfSjy2GsylWt3ZIq3Yw9O1Mox7lnZ4btyY6mURmtpMKr8GfCMRCTf8Os8UIhVmmAeKOKQXX1AgQOeZb6rn-cinETjwwp234oIZa9NegdLPE1OIXDEPs--nPexrlg7XyqdSJtURvIepOVohu5v-kh1alAF2O2BZtEuMHnGGmTs9lrgrDOLRY0muGl7PzWrgeSEtyPeHHPvoWGxDkUezvdLAtodee61FI6_ixqxhUJstQr_y7EPaaznjHWQybvO4t3arBTstEFg8tC3bmQOsKrBMiJullJoX4ubGPd8fq9o-TFACf0Tn-WE4cNmw7J03K__FAD46tBjbP_aU4VfP-aA83mlBzGlv8OfUPzDTJ_kZJhSgbdwXNcksFso340dFlN2bLUZ6-HG08IiMN53xITYenwgEfKuTLhKyZyfz3UFKvWLku5oYi5U7CbA_bxoNwvo7I6s8IzReuNpKvweAqnZuw6jSZuWaKF6CpuC5obk=s60-no"/></a>
          <nav class="mastnav font2">


          <ul >
              <li class="trigger-sub-nav font2"><a data-sub-nav-target="intro" data-filter=".about" class="main-nav-link" href="{% url 'home' %}">About</a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="works" data-filter=".project" class="main-nav-link" href= "{% url 'portfolio' %}">Projects</a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="pages" data-filter=".ui" class="main-nav-link" href="{% url 'design' %}"> Design Process</a></li>
              {% comment %} <li class="trigger-sub-nav"><a data-sub-nav-target="pages" data-filter=".ui" class="main-nav-link" href="#"> Resume </a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="pages" data-filter=".ui" class="main-nav-link" href="#">  Contact </a></li> {% endcomment %}
              {% comment %} <li><a class="ajax-link" href="project01.html">Resume</a></li> {% endcomment %}
              {% comment %} <li class="trigger-sub-nav"><a data-sub-nav-target="works" class="main-nav-link" href=  "{% url 'post' %}">Link</a></li> {% endcomment %}
              
            </ul>
            
          </nav>
      </div>
    </div>

          
          
    <div class="sticky-icons">
        <ul>
            <li><a class="fullscreen-toggle" href="#"><img alt="" title="" src="images/prev.svg"/></a></li>
        </ul>
    </div>
  </header>



  <section class="sticky-sidebar white-bg fullheight text-center">
      <div class="valign">
          <ul>
            {% comment %} <li><a href="#" class="works-filter-trigger"><span class="ion-ios-shuffle dark"></span></a></li>
            <li><a href="#0" class="cd-btn"><span class="ion-ios-download-outline dark"></span></a></li> {% endcomment %}
            <li><a href="#0" class="share-panel-trigger show"><span class="ion-ios-email-outline dark"></span></a></li>
            <li><a href="#0" class="share-panel-trigger show"><span class="ion-ios-world-outline dark"></span></a></li>
            <li><a href="#0" class="share-panel-trigger show"><span class="ion-ios-download-outline dark"></span></a></li>
            
            {% comment %} <li><a class="ajax-link" href="works.html"><span class="ion-ios-grid-view-outline dark"></span></a></li> {% endcomment %}
          </ul>
      </div>
  </section>



<!-- dummy overlay for whole page when sidebar is active -->
<section class="featured-mask-overlay"></section>




<section class="mastwrap-outer cd-main-content">

  <!-- MASTER CONTENT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <section id="ajax-content" class="mastwrap spaced-left">
      


    <section class="sub-wrap pad-top-half pad-bottom-half">
        <div class="container">
          <div class="row">
            <article class="col-md-12 text-left news-post">
                <h1 class="font2 dark"> Song Findr  </h1>
                <div class="liner color-bg"></div>
                <h5 class="font4 black"> A Front-End web application for browsing and sampling content via the itunes API </h5>
                
              <img class="img-responsive sppic imgcenter spshadow" alt="" title="" width="100%" src="https://lh3.googleusercontent.com/WFO3oqNQFOyL4vuN2J51Vti-jly25YyXnGy7OtdTqIABpoZTUlOHFosnykepCcxpSOW121COvobrIkhOJXAwJ56oWtI7kyunYHsTbmQHrXTeQ0wgDo6HQYPiUbYlIoyb4EzWpFXkYkdkuyocear15euqDgzqruY-CfCnQtuFtDd7fTQJlHI3XDywYByDCszozxy6EpcLoCbM4jzd30TX0BJXcLW0z8rrHEM70ms2ZatFCSFdel3yyq_1uqhrJHYvwyS1uNUXgexI_f-aVutj6mdw22aQGY8wg6Yo_nWSNcjFLokY1MyseEsNO_4D8ccuw6R_F1rzGmqBxURelUAqgYgPHbaV8Kc2nSv9JPadQUfKdcZ37jBmjO0RD7SjT9XPzwOcuYbxlBEcKqk9Jf9o_-XoZb6BPbP9O861bO9S5qvUlHej6KAvdnlmbjBgtajP1iFNQ_EzBrdy44ddW6d5vvkPZ9VY67XMWDqIhHlCmZROdqrZ0ouiDPQxjAbap3It5YfIShIBAoI01JIusqjhljxSYQmKe087nOKyW3tAXqtbAB9ee5cIExeqhfMxuAexJx44qR1-hkDu540hMGwsXJgkIzvOKp6PTKlKdZmtkrkkOpIQdLjP5zZTeoGCWLx1G_JlLdffTDCiVqEd486w6kyzvp0g4W8=w1329-h781-no"/>



                
          <br>
          <br>
          <br>

          <h3 class="font2 dark"> Overview </h3>
                <div class="liner color-bg"></div>

                  <p class="font4 black">Itunes has over 26 million songs on it’s webpage. Using itunes publicly available api, I designed an easy to use Front-End application that allows a user to search by any amount of text and retrieve any songs that match the search. Clicking on any search results plays a sample audio clip of the song.   
                    <br>
                   
                  
                  </p>

              <div class=" add-top-half">
                <article class="services-item">
                <i class="fas fa-search fa-2x"></i>
                
                  {% comment %} <i class="ion-social-buffer color"></i> {% endcomment %}
                    <h4 class="font2 black">Process</h4>
                        {% comment %} <ul class="font4"> {% endcomment %}
                              

                              <ul class="font4">
                              <li>Use Jquery to make an ajax call to the api, retrieve search results from user input</li>
                              <br>
                              <li> Render each song name, band name, thumbnail photo and song sample into one element </li>
                              <br>
                              <li> Display search results on the web page </li>
                              <br>
                              <li> Access and play each item's audio when it's clicked</li>
                        </ul>
                        </ul>
                        <br>
                        <p class="font4 black">    This exploration into the itunes API laid the groundwork for a couple other music based projects I’ll be working on in the future. </p>
                        <br>
                         <br>
                            <br>
                        <a href="https://github.com/momentum-cohort-2018-10/w6-itunes-search-sflocascio" target="_blank"> <h4 class="font4 black"> <i class="fab fa-github  "></i><b> See this project on Github </b> </h4></a>
                         <br>
                          <br>
                           <br>
                           
                          <br>
                           <br>
                            <br>
                            

                </article>
              </div>








            




              
              






            </article>
            
{% comment %}             
            <article class="col-md-12 text-left news-sidebar">
                <h3 class="font2 dark">More Projects</h3>
                <div class="liner color-bg"></div>
                <ul class="font4 dark">
                  <li><a href="post.html">Quizzer</a></li>
                  <li><a href="post.html">CHANT</a></li>
                  <li><a href="post.html">The Oak House</a></li>
                  <li><a href="post.html">Itunes</a></li>
                  <li><a href="post.html">Wayfinder</a></li>
                </ul>
                
             
            </article> {% endcomment %}
          </div>
        </div>
    </section>




  <!-- FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <footer class="mastfoot container-fluid white-bg">
    <div class="row">
          <article class="credits col-md-6">
              <!-- <p class="font4 dark">Copyright &copy; 2019 <a target="_blank" > </a></p> -->
          </article>
          <ul class="foot-social col-md-6 text-right">
            <li><h2><a href="https://www.linkedin.com/in/sam-locascio/" target="_blank" ><span class="ion-social-linkedin-outline"></span></a></h2></li>
            
            <li><h2> <li><a href="https://github.com/sflocascio" target="_blank" ><span class="ion-social-github-outline"></span></a></h2></li>
            <li><h2><a href="https://www.facebook.com/sflocascio " target="_blank" ><span class="ion-social-facebook-outline"></span></a></h2></li>
          </ul>
    </div>
  </footer>


  </section>
  <!-- end : mastwrap -->






</section>
<!-- mastwrap-outer ends -->




<section class="share-panel white-bg fullheight">
      <a href="#0" class="share-panel-close white">x</a>
      {% comment %} <div class="share-panel-heading font3 dark"> Contact / Download Resume </div>
      <div class="share-panel-heading font3 dark"> Contact / Download Resume </div> {% endcomment %}
      <br>
      <br>
      <br>
      <br>
      
      <div class="valign">
      <p> Contact / Download Resume </p>
          <ul>
            {% comment %} <li><a href="#"><span class="ion-social-twitter dark"></span></a></li> {% endcomment %}
            <li><a href="mailto:sflocascio@gmail.com"><span class="ion-ios-email-outline dark"></span></a></li>
            
            <li><a href="https://www.dropbox.com/s/hs9jv4cgzzjrsu7/SamLoCascio.pdf?dl=0 " target="_blank" ><span class="ion-ios-download-outline dark"></span></a></li>
          </ul>
          <br>
          <p> Social  </p>
          <ul>
            {% comment %} <li><a href="#"><span class="ion-social-twitter dark"></span></a></li> {% endcomment %}
            <li><a href="https://www.linkedin.com/in/sam-locascio/" target="_blank" ><span class="ion-social-linkedin-outline"></span></a></li>
            <li><a href="https://github.com/sflocascio" target="_blank" ><span class="ion-social-github-outline"></span></a></li>
          <li><a href="https://www.facebook.com/sflocascio " target="_blank" ><span class="ion-social-facebook-outline"></span></a></li>
          </ul>
      </div>
</section>




  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    
  
  <script src= "{% static "javascripts/libs/common.js" %}" ></script>
  <script src="{% static "javascripts/libs/bootstrap.min.js" %}"></script>
  <script src="{% static "javascripts/custom/main.js" %}"></script>



</body>
</html>
