{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Info
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>SLOC Welcome</title>
  <meta name="description" content="OTTO - A premium web template from Designova">
  <meta name="author" content="Designova">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png" />

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600%7CMontserrat:400,700%7COpen+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

  <!-- ICONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href=" {% static 'stylesheets/ionicons.min.css' %} ">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static 'stylesheets/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static  "stylesheets/isotope.css" %}" >
  <link rel="stylesheet" href="{% static  "stylesheets/venobox.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/owl.carousel.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/sidepanel.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/elements.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/slimmenu.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/main.css" %} ">
  <link rel="stylesheet" href="{% static "stylesheets/main-bg.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/main-responsive.css" %} ">

  <link href=" {% static ' plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet' %}"/>

  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  <!-- LESS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet/less" type="text/css" href="{% static "less/color.less" %}" >
  <link rel="stylesheet/less" type="text/css" href="{% static "less/fonts.less" %}" >
  <script src= "{% static "less/less.min.js" %}"> </script>


</head>

<body>

  <!-- Preloader
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="preloader"> 
    <div id="status"></div> 
  </div>

  
<!-- mobile only navigation : starts -->
{% comment %} <nav class="mobile-nav">
            <ul class="slimmenu">
              <li>
                  <a class="sub-collapser" href="">home</a>
                  <ul>
                      <li><a class="ajax-link" href="index01.html">masonry</a></li>
                      <li><a class="ajax-link" href="index05.html">agency</a></li>
                      <li><a class="ajax-link" href="index02.html">fashion</a></li>
                      <li><a class="ajax-link" href="index07.html">photography</a></li>
                      <li><a class="ajax-link" href="index06.html">personal</a></li>
                      <li><a class="ajax-link" href="index04.html">fullscreen</a></li>
                      <li><a class="ajax-link" href="index03.html">bg video</a></li>
                  </ul>
              </li> 
              <li>
                  <a class="sub-collapser" href="">works</a>
                  <ul>
                      <li><a class="ajax-link" href="works.html">masonry / random</a></li>
                      <li><a class="ajax-link" href="works02.html">masonry / 3 col</a></li>
                      <li><a class="ajax-link" href="works03.html">masonry / 2 col</a></li>
                      <li><a class="ajax-link" href="works04.html">masonry / 4 col</a></li>
                      <li><a class="ajax-link" href="works05.html">masonry / spaced</a></li>
                      <li><a class="ajax-link" href="works09.html">random spaced</a></li>
                      <li><a class="ajax-link" href="works06.html">square grid</a></li>
                      <li><a class="ajax-link" href="works07.html">dual column</a></li>
                      <li><a class="ajax-link" href="works08.html">single column</a></li>
                      <li><a class="ajax-link" href="project01.html">project view</a></li>
                  </ul>
              </li>
              <li>
                  <a class="sub-collapser" href="">pages</a>
                  <ul>
                      <li><a class="ajax-link" href="about.html">about</a></li>
                      <li><a class="ajax-link" href="pricing.html">pricing</a></li>
                      <li><a class="ajax-link" href="news.html">news listing</a></li>
                      <li><a class="ajax-link" href="post.html">news post</a></li>
                      <li><a class="ajax-link" href="elements.html">ui elements</a></li>
                      <li><a class="ajax-link" href="contact.html">contact</a></li>
                  </ul>
              </li>
              <li><a class="ajax-link" href="project01.html">project</a></li>
              <li><a target="_blank" href="http://themeforest.net/user/designova/portfolio">buy theme</a></li>
            </ul>
</nav> {% endcomment %}
<!-- mobile only navigation : ends -->


  <a class="onscreen-trigger" href="#"><img alt="" title="" src="images/next.svg"/></a>

  <!-- Header
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <header class="masthead white-bg fullheight">
    <div class="valign">
      <div class="inner">
          <a class="#" href="{% url 'home' %}" ><img alt="" title="" class="logo" src="https://lh3.googleusercontent.com/i_oM_TXIDC_6ajgLjLHLpgXpdq9IMnBiIY4eaduMJrD1QCVtjg-C2LCeoJSbuDZ580leaIJYLP5rLXy_M28Q3gTROc6X71WmqzNOP_bK1tNiFXOy_boD0REnf2W7U7gUl1W2MfcUaKcTkcN429vtfyv48sTZrwzcFcaXuYqIwBdihHc19Lv_eAWfSjy2GsylWt3ZIq3Yw9O1Mox7lnZ4btyY6mURmtpMKr8GfCMRCTf8Os8UIhVmmAeKOKQXX1AgQOeZb6rn-cinETjwwp234oIZa9NegdLPE1OIXDEPs--nPexrlg7XyqdSJtURvIepOVohu5v-kh1alAF2O2BZtEuMHnGGmTs9lrgrDOLRY0muGl7PzWrgeSEtyPeHHPvoWGxDkUezvdLAtodee61FI6_ixqxhUJstQr_y7EPaaznjHWQybvO4t3arBTstEFg8tC3bmQOsKrBMiJullJoX4ubGPd8fq9o-TFACf0Tn-WE4cNmw7J03K__FAD46tBjbP_aU4VfP-aA83mlBzGlv8OfUPzDTJ_kZJhSgbdwXNcksFso340dFlN2bLUZ6-HG08IiMN53xITYenwgEfKuTLhKyZyfz3UFKvWLku5oYi5U7CbA_bxoNwvo7I6s8IzReuNpKvweAqnZuw6jSZuWaKF6CpuC5obk=s60-no"/></a>
          <nav class="mastnav font2">


          <ul >
              <li class="trigger-sub-nav font2"><a data-sub-nav-target="intro" data-filter=".about" class="main-nav-link" href="{% url 'home' %}">About</a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="works" data-filter=".project" class="main-nav-link" href= "{% url 'portfolio' %}">Projects</a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="pages" data-filter=".ui" class="main-nav-link" href="{% url 'design' %}"> Design Process</a></li>
              {% comment %} <li class="trigger-sub-nav"><a data-sub-nav-target="pages" data-filter=".ui" class="main-nav-link" href="#"> Resume </a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="pages" data-filter=".ui" class="main-nav-link" href="#">  Contact </a></li> {% endcomment %}
              {% comment %} <li><a class="ajax-link" href="project01.html">Resume</a></li> {% endcomment %}
              {% comment %} <li class="trigger-sub-nav"><a data-sub-nav-target="works" class="main-nav-link" href=  "{% url 'post' %}">Link</a></li> {% endcomment %}
              
            </ul>
            
          </nav>
      </div>
    </div>

          
          
    <div class="sticky-icons">
        <ul>
            <li><a class="fullscreen-toggle" href="#"><img alt="" title="" src="images/prev.svg"/></a></li>
        </ul>
    </div>
  </header>

{% comment %} 
  <!-- sub navigation panel : starts -->
  <section class="sub-nav-wrap fullheight dark-bg white font2">
            <div class="valign">


              <!-- sub navigation section -->
              <ul class="sub-nav sub-nav-intro">
                <li><a class="ajax-link" href="index01.html">masonry</a></li>
                <li><a class="ajax-link" href="index05.html">agency</a></li>
                <li><a class="ajax-link" href="index02.html">fashion</a></li>
                <li><a class="ajax-link" href="index07.html">photography</a></li>
                <li><a class="ajax-link" href="index06.html">personal</a></li>
                <li><a class="ajax-link" href="index04.html">fullscreen</a></li>
                <li><a class="ajax-link" href="index03.html">bg video</a></li>
              </ul>

              <!-- sub navigation section -->
              <ul class="sub-nav sub-nav-works">
                <li><a class="ajax-link" href="works.html">masonry / random</a></li>
                <li><a class="ajax-link" href="works02.html">masonry / 3 col</a></li>
                <li><a class="ajax-link" href="works03.html">masonry / 2 col</a></li>
                <li><a class="ajax-link" href="works04.html">masonry / 4 col</a></li>
                <li><a class="ajax-link" href="works05.html">masonry / spaced</a></li>
                <li><a class="ajax-link" href="works09.html">random spaced</a></li>
                <li><a class="ajax-link" href="works06.html">square grid</a></li>
                <li><a class="ajax-link" href="works07.html">dual column</a></li>
                <li><a class="ajax-link" href="works08.html">single column</a></li>
                <li><a class="ajax-link" href="project01.html">project view</a></li>
              </ul>

              <!-- sub navigation section -->
              <ul class="sub-nav sub-nav-pages">
                <li><a class="ajax-link" href="about.html">about</a></li>
                <li><a class="ajax-link" href="pricing.html">pricing</a></li>
                <li><a class="ajax-link" href="news.html">news listing</a></li>
                <li><a class="ajax-link" href="post.html">news post</a></li>
                <li><a class="ajax-link" href="elements.html">ui elements</a></li>
                <li><a class="ajax-link" href="contact.html">contact</a></li>
              </ul>

            </div>
  </section>
  <!-- sub navigation panel : ends --> {% endcomment %}


   <section class="sticky-sidebar white-bg fullheight text-center">
      <div class="valign">
          <ul>
            {% comment %} <li><a href="#" class="works-filter-trigger"><span class="ion-ios-shuffle dark"></span></a></li>
            <li><a href="#0" class="cd-btn"><span class="ion-ios-download-outline dark"></span></a></li> {% endcomment %}
            <li><a href="#0" class="share-panel-trigger show"><span class="ion-ios-email-outline dark"></span></a></li>
            <li><a href="#0" class="share-panel-trigger show"><span class="ion-ios-world-outline dark"></span></a></li>
            <li><a href="#0" class="share-panel-trigger show"><span class="ion-ios-download-outline dark"></span></a></li>
            
            {% comment %} <li><a class="ajax-link" href="works.html"><span class="ion-ios-grid-view-outline dark"></span></a></li> {% endcomment %}
          </ul>
      </div>
  </section>


<!-- dummy overlay for whole page when sidebar is active -->
<section class="featured-mask-overlay"></section>




<section class="mastwrap-outer cd-main-content">

  <!-- MASTER CONTENT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <section id="ajax-content" class="mastwrap spaced-left">
      


    <section class="sub-wrap pad-top-half pad-bottom-half">
        <div class="container">
          <div class="row">
            <article class="col-md-12 text-left news-post">
                <h1 class="font2 dark"> The Little Triangle </h1>
                <div class="liner color-bg"></div>
                <h5 class="font4 black"> A web app built to offer parents in North Carolina’s Triangle Region a platform to discover, review, and gain valuable insights about the best activities and offerings in their area. Visit at <a href="https://www.thelittletriangle.com/" target="_blank"> thelittletriangle.com </a> </h5>
                




                <div class="row add-top-quarter add-bottom-quarter spshadow">
            <article class="text-center col-md-12">
              <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="8000" id="bs-carousel">
  <!-- Overlay -->
  {% comment %} <div class="overlay"></div> {% endcomment %}

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides slide-1 active">
    </div>
    <div class="item slides slide-2">
    </div>
    <div class="item slides slide-3">
    </div>
  </div> 
</div>
            </article>
          </div>
          <br>

          <h3 class="font2 dark"> The Problem  </h3>
                <div class="liner color-bg"></div>

                  <p class="font4 black">Three questions nearly all parents ask themselves when they are about to register a child for a brand new class or program:  
                    <br>
                    <br>
                  Is it safe? Is it worth the money? Is it worth the time? 
                    <br>
                    <br>
                  The concept for The Little Triangle was envisioned by such a parent looking for a better way to get answers to these questions. Our solution was to build a place where parents could discover quality events and activities in the Triangle, while empowering them with a platform to share valuable insights and feedback with each other. 
                  </p>

              <div class=" add-top-half">
                <article class="services-item">
                <i class="fas fa-search fa-2x"></i>
                
                  {% comment %} <i class="ion-social-buffer color"></i> {% endcomment %}
                    <h4 class="font2 black">Discovery</h4>
                        {% comment %} <ul class="font4"> {% endcomment %}
                              <p class="font4 black"> <b>Polling</b> - After reaching out to popular parenting forums and groups in the region we received overwhelming positive feedback, confirming a need for the concept my team envisioned</p>
                              <br>
                              <p class="font4 black"> <b>Competitive Analysis</b> - A quick comparison of current offerings in our area helped us define opportunities and features that our concept would capitalize on </p>
                        {% comment %} </ul>  {% endcomment %}
                       {% comment %} <p class="font4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt, massa congue laoreet commodo.</p> {% endcomment %}
                </article>
              </div>





              

              <div class=" add-top-half">
                <article class="services-item">
                <i class="far fa-lightbulb fa-2x"></i>
                  {% comment %} <i class="ion-social-buffer color"></i> {% endcomment %}
                    <h4 class="font2 black">Ideation</h4>
                     {% comment %} <p class="font4 "> After Establishing a clear need and user group for the concept, my team set out to define the essential features for a minimum viable product </p>  {% endcomment %}
                     <img class="sppic center " alt="" title="" width="60%" src="https://lh3.googleusercontent.com/vz-tIsuUKNZvcEB4AwyEGYMbfN-hI1xw0II5gT7qoeVOil5oeeIrA3un4zta7uXpJEYgIIwjeI8owXMxJwU5G6IlruC--of8I1xEmhIS87Kap-e6e-ay2_wtUcQITjenf7cssqfFl_IAppAlE1qhYrC1TOnxIyzXIkHsgusY_sxIXtoUtLLFXkT5QxTGyIi78be5Q0Ql-_caHutiZE-QTV5NCDPzQUyxa8qEWnI9OyFN0fZbmfJmqa9_xtbdUq8BFolPgJ-r6kC47ia5iNC01xG_EQzK2nxbhS2T9zIlCtn9LteA7l-4Y3wafsq40LYjpcZUTW-rLQ2lBbf8R0m-eI_0n8u2LEtUL4IIaXXKcZKIEFEQdj5O27Fy0Urwod1T9FwDsVkzAGF4rccMyGaF3gcAy9s7ezT3ue35E_0FZqU_2Zbw068ESExrz8dLvECfTqL_mXdI7ZpXzAlcJiWSqNEfjl4Og2SvJiVenAe4fdm10i1vR4d1CdlFQJRmLSctOrjI7yyeqqtwn0RulVvnZEkL9b90ZJeiSxjwzp2HvdZv0TB_158ErCVnk3k4yvT9jv_HC8rRPhjzKJwt_84azZzVJ8VTrDFe-hFAPXLA7Sqz_8x5-01SBvF_OledIKaeA1yvxWrwP5oqflQgOm666h6_nkh4M_Q=w675-h663-no"/>
                     <img class=" center spshadow" alt="" title="" width="39%" src="https://lh3.googleusercontent.com/T9MIHrYGlT2jt9d67unQU2ASQw69kGb2m8vl7H_iTXFMKXHTZe4YwC4Ftv-Sm50_LWBYmsu1KMq_DcXaYRyVCeEjEe4TuwoKLDwFGJrw4TS8hP-njWg7UolGp_saQfoJKSuRuHHh0WnIUBSoqdV72GgeCVN59_wfDoQr2IXkXMvUi1dvii7cHdQtDQTo81NNmfsiIBzW1n5Oel9n2jZVb7qGOHl6rqhNPS9-JVDra5rj_erF2k2JN-S9T0b0Ho9y2xAqHWCmODM-PlyAUCn9YG62XHhVX3MgjoaxEUhA_lo1RS3_g79WzAZQR3fueWWsf360J9xTRQQrHsLtZtCheQEHw1IUe1HH8eIvIt9zcUDrSoKsPcfmby90u47eBBt8KLrH2hOyX-3WCOcK36QrpIC46JmNSmC6bP7-pVU8wOgM7Dv9kR041HiYeyVj0gYq2yzzaFAo7TvZ4hFsg24U_2G49cqrmPHQ9rBQZJzxGlXDCwVgkQMzIqG5TcahQOegqUqXTq5wUZ28aha3SskZPy7pyBOVsfoVpXqZqRk022hNbh3V0duo1BTZHCnoN54ab-xmxyfrDuih6tlxFNx8iNHVxWDLJz_1di22slM9G0Ya_MjfC-2K26xfSaahS1KUUb5mkHriXH6fM4TDb0_6or0kHACTpYQ=w827-h853-no"/>
                     <br>
                     <br>
                     <br>
                    
                     <ul class="font4">
                              <li> <b> User stories </b> - Creating three distinct personas to helped us envision the way that different users might interact with the web app, allowing us clarity in determining user needs</li>
                              <br>
                              <li> <b> Wireframes </b> - Developing Wireframes like the one above helped my team conceptualize the actual flow, scope,  and technical needs of the project </li>
                              <br>
                              <li> <b> Mockups </b> - After reviewing our user stories and wireframes, I took all the ideas and sketched out what I imagined the site could look like. Revisions like the one above allowed us to decide on an initial layout for the project. Digital mockups like the two below provided the team with a roadmap as we began the coding process</li>
                        </ul>
                        <br>

                        <img class="img-responsive sppic2 imgcenter" alt="" title="" width="49%" src="https://lh3.googleusercontent.com/6_VEcb3pUvdNtzXdWMUdMtWjVLzGXtNR8i3u03maeKV-SLUSKpSr4w69eD74t1Kn_AAU1cQsWu0jrCrStV4RfAqDewiSq5VDAggUw0qJDOkC3RilOKeQh9gRk1Dw-uXGtydfIX2l7rjTKGqAS8VDI4mvaycrRsyYTZg6Sbq58AKGAJTrMPkdDNK1nVfML9cGsybvRT1ksUdwgh9hjaKH9-0XzRdg-1DYmvHuTs6YMo3MV__JSwu4CsUCwqy3P7r5RoLgVYINIEIyGTnOQTOKBUtfRa0N_76GuVArVGJ6PBuzZn4cfyV9yeVr7oAq3jU7E24AngkB5boL5DXStwncQ6d9-aHTsICr8efCXztZCSxVl7WDHBlGEhPS5FgHPhiBuxVyOgSSJyU_ngm8-Xy2ISPlg0zhSO-Pdfz6t2ZJAQAkzGMm7_Clv1HZqXJcsnGQnCXe9jIonp5JsdQ8KDOGB0TuoJaqBvwT6nhE9Eg7yxJBdGNDMwnaE7qniUOHDXTovwVe2MwZCuCm2JfAH-fVImwYC_5pdlM9G1AU4GKFVOL5GQymZ6EABkZ0l13MUxsiCtMf6ip5doRp8KfzMaqEeELYnW9jbVu0UI1c-ATs_fT-9AEkjHnbVOZbfJKZ5dMdHyOj0FnT_53861LLlv70S3fnf6TBjiQ=w773-h853-no"/>
                        <img class="img-responsive sppic2 imgcenter" alt="" title="" width="49%" src="https://lh3.googleusercontent.com/JYZ-mRNTVBwt2mUkcDRVZS7qvLxHu_neloShb9Nt0Gebma0P2Ehgm_WFMlneflQ9soSI1p2Hn9-Zs9TP7xdiBdSeyL-pP8bIbJjA7Kn84E5KsXOqtu1tY6tPnbG2yW57DEgS8qOxYwyLDWPzcUPY7l6wbfYUgIKAD8vQ1DCF06THlNveXUijVaJhuMZWTPLeZj9jwzSocJQQwsXdI3aHgQrBC_ynuiWOR5uuyj9-Q-v9pY_P5w7lmaJsUxl4g3ciF2oLKOiHJ_OvJhrcFwK5hVdrDAMHuBMmbBB5TMQJKuB7qLfC0D_sCqFdxdQ2mSohDWMRXigFytNbRxAyRjMdUsu7sAMgQeX-qX4JmBGBsCEKJtqrEI8a6FNfrdVL41pT5A6zuC-kZWOiLnNyj3D9FUjDjoBvXAP0fsG7Gh9KaaYT4I0HaaWornUDtwpdCJa3xN_ltjAUUfaHUeiDZmlyijAAxSTeyFaX43biL2ob7Uf0Qqi31CH2kCUSDwwRVFSvm-9anvGdQ9GZdeZDarwv5Jno1L0El9_fmzUWFpq2vKLmNREOoVmQNBGrvanV_Bs6jZ_27ABsbZoPPyxw0TVabRsYhhUZqvVQ66ldM9-mtj3Fhl-WpCVzL6Laa8_EQEiIMCurJEIanEjgi0mYP_y6k7IqWPEn4SE=w736-h853-no"/>
{% comment %} 
                    <div class="row add-top-quarter add-bottom-quarter">
                      <article class="text-center col-md-12">
                        <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="8000" id="bs-carousel">
            <!-- Overlay -->
            
          
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#bs-carousel" data-slide-to="1"></li>
              <li data-target="#bs-carousel" data-slide-to="2"></li>
            </ol>
            
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item slides slide-1 active">
              </div>
              <div class="item slides slide-2">
              </div>
              <div class="item slides slide-3">
              </div>
            </div> 
          </div>
                      </article>
                    </div> {% endcomment %}

                    <!-- Working Carosel  -->
            <!-- <article class="text-center col-md-15">
                  <div class="carousel slide" id="myCarousel">
          <div class="carousel-inner">
                <div class="item active">
                  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
                  <a class="" href="#"><img data-no-retina alt="" title=""  src="http://fioextremadura.es/wp-content/uploads/placeholder-blue-800x600px.png" class="img-responsive"></a></div>
                </div>
                <div class="item">
                  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
                  <a class="" href="#"><img data-no-retina alt="" title=""  src="http://fioextremadura.es/wp-content/uploads/placeholder-blue-800x600px.png" class="img-responsive"></a></div>
                </div>
                <div class="item">
                  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
                  <a class="" href="#"><img data-no-retina alt="" title=""  src="http://fioextremadura.es/wp-content/uploads/placeholder-blue-800x600px.png" class="img-responsive"></a></div>
                </div>
                <div class="item">
                  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
                  <a class="" href="#"><img data-no-retina alt="" title=""  src="http://fioextremadura.es/wp-content/uploads/placeholder-blue-800x600px.png" class="img-responsive"></a></div>
                </div>
                <div class="item">
                  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
                  <a class="" href="#"><img data-no-retina alt="" title=""  src="http://fioextremadura.es/wp-content/uploads/placeholder-blue-800x600px.png" class="img-responsive"></a></div>
                </div>
                <div class="item">
                  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
                  <a class="" href="#"><img data-no-retina alt="" title=""  src="http://fioextremadura.es/wp-content/uploads/placeholder-blue-800x600px.png" class="img-responsive"></a></div>
                </div>
                <div class="item">
                  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
                  <a class="" href="#"><img data-no-retina alt="" title=""  src="http://fioextremadura.es/wp-content/uploads/placeholder-blue-800x600px.png" class="img-responsive"></a></div>
                </div>
                <div class="item">
                  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
                  <a class="" href="#"><img data-no-retina alt="" title=""  src="http://fioextremadura.es/wp-content/uploads/placeholder-blue-800x600px.png" class="img-responsive"></a></div>
                </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
            </article> -->
            <!-- End Working Carosel  -->
          


                        
                       {% comment %} <p class="font4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt, massa congue laoreet commodo.</p> {% endcomment %}
                </article>
              </div>



              <div class=" add-top-half">
                <article class="services-item">
                <i class="fas fa-chart-line fa-2x"></i>
                  {% comment %} <i class="ion-social-buffer color"></i> {% endcomment %}
                    <h4 class="font2 black">Challenges and Opportunities</h4>
                        <!-- <ul class="font4">
                              <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt,</li>
                              <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt,</li>
                        </ul>  -->
                       <p class="font4 ">Similar offerings lacked a clutter free, colorful, and engaging user experience. Our site design embraced a minimal and colorful design which allowed us the opportunity to bring in featured content relevant to our users.</p>

                       <img class="sppic" alt="" title="" width="100%" src="https://lh3.googleusercontent.com/NhB6iNq9GnaVS0JOmQ9ZizkDP4s4yFDOq-5IJh9XWVnRoNo0fF-QdsHxSIC7PZPPKOtnxHaQn3Ewohgwr27H_O-KTzHeoA4sfRSiK81dEVMPN4mbWhC7VCBiY4ZJ8w7bMAqx47WsqozGuh1oT1rUGLbruLn9810n5whVdASQIlkiMG6WcrNvsrwcvT1DhPImE6YChZrOVlAsyqE0Ouxt1IQEEcZ7jSZDvQHoKcdHci4cGOAiW4clUYvknf6Zq0FdY_LnS66RPgnfJDtRcu1G3kml9dvvKB1_8sHg6Wa4qA_CDucRV0OKiMaqNSI_MfgxCGr2s4dk2fJx89jsEoY4NwrT3yqev8DTvw7GCAHHSdvKJXvOqKLoAeNCwPgQB1Pqf2SJX8Kp0bSIhryC_onTcqNZQ4XjOuebqGt5NuD5bJtWk57HbJyAjCzqKi-HZdhZT7XuYHH1Hfry0CTci1cFtOPsmCq-oRQup9X6E85WJbxDbkz9rJu_4jXj5QibeT60YaMnx_plqaL9Lg1c8xkA3n020ysJYXstCFDUeu2jmIuk8pAdM7iWfKtPBR1KfC77LyKeBZn2pcw6_V08WNXULr34xMGOsb8x2rMrdlZbLw0DE5ydtSiAIl4sn19rmaMj0ScCMa0RBScdsHvWqu9nNJJzfcY6_dc=w900-h700-no"/>
                            <br>
                            <p class="font4 black"> <b> Cards for the win </b> - Images and icons on detail cards give users a snapshot of events and businesses before clicking </p>
                                      <img class="img-responsive sppic imgcenter" alt="" title="" width="30%" src="https://lh3.googleusercontent.com/C2kK8Kh_yM9esT2rCYVQDfE2jbNrpWDWHVKP_-bqCydVOGvAxMM0u7dYgb3kvApoJ0VRZrtFy02WXs9G4xVnWMDq-oVXaW_IasUhavBQehlFphd-BjVMxl4zbBQ-YO1c8yoSks7hglmb5TAh7kVzJjq2f1ME6fOfxs1t5r74PHWf0r1eGM8iZk7mAUldV8eamrVsJwvJfEbL7itS3tt11yOUdkJu305HerzDPuuTvBYx26CORJY88rnA6tlBXoR6vb-aUJrR87CJ-sOKRG2UsNDEjUMU_7i3PimUrybQf_Gd5P-9MQmTVF5hVTUkqQNDR6bu2PG_p1zyZJQMn7uk7quLuFVwKmNSrEoyC4gaAbeA0svPLjQd83tHXAvFgiSr-1uX_2vWRZPxvK0jTAAGVctT7w-s6-SbgcB2YU4XoLJfXzXVkn_HuLoq5ZgMjyeUG3vaceh6u_COWVfLuViIXjBl9WBPOaZdXO4FrwqomrLgBOIRqx_2nHTX5OPByIXy0nXWTBvpbd76m9OgtxO5R5YiTtG1fsIsagFhlDXllyQ9w0753o7S38y9cXW3xVPEbFl8HYlWDkQzAuB4n0GWKTjCnigrdRs5SzQm-QKIBp25v5xDTbRvZMoHlksjDEV8HJYjt2SRDyQkz-bDkaIad3JLzB6Q4h4=w357-h463-no"/>
                                      <img class="img-responsive sppic imgcenter" alt="" title="" width="30%" src="https://lh3.googleusercontent.com/w3l6y0xAtuf1csbAFa6yoYiQMuTFhgpr1QUlGWoUFsGXfD2_-KKQtcYQfGmg2oKPQNk8FHB3wDnS4Ly7aqDjJ3sIl305jm0Z2-Qrla8Hoc5hixug3gI5gpynmjAjv512V0GVYKRVtHozrUUWZoh3m7eQUM0PAArdGcBoqfIzP7l7qokY7m1KYKS9Oh_aXlnu9a3ly7w81VSA97MwOBq090CBH1xy9MnfweAn3QtUhEcsvyueh0VpoXy4wSrsv7nyFxGEupn3oPh6jMYo_MJd6kqfQKNyHbBXhOo23pbFPk5baObViz0yI8C0CAlJMWwJDV1zdtFuZ7DhNIzOKerT-amBrLkzVkNkYhD42PlK3YIBxbTu10LhFC6pTNAunPuAlvYCza62kJkIYcGgmwrrkgllnHB8SxhcVVKpDLuOiUqTcYyCTY-7bRbbvoWRqCNB0f3ODipIB5Wtu7-GUToC7Yaxzh0cIvvYGaq0HEzzN6ieXOe5AjR0YdhyPkApI_AO8-Xqiy0a-YOPBo70ZqLgia64jU53Kq4KXOae7c7T4fkCoKDVGUab4H0CSc7R1zlwyPOyCE7i1yGS7iAyl6mJAZLXaK_bj96zjhkDdoNLCgaIb-NOBJi5WXADmz2Yxwkb6c30KnpDSrWlPZ9YnaTHQiDny08Kkxs=w356-h464-no"/>
                                      <img class="img-responsive sppic imgcenter" alt="" title="" width="30%" src="https://lh3.googleusercontent.com/qSbvF7al764YeS4dbcQ7YSWKMMTQEv0gdQYxsjgSrTsErvH6_n0_SubIKphk1fDFP8t7BaWRVupU1kA85EjlZLGqZLmaJTal8C4xYwtq6z5oZOC8gpUms9EUI9JTxo8HgEzcc5Mx6wgnW7LRPAmDQOVsC-yBoEgrXYugBbtNdCSBMz1HlZ7PbTb2Oj5hSaqfHjK4vD2dRxJd6zPuQB3twBoJVOh4KY4PCTihd1MiLpi9zq8o55Jg6_5qDKEHuIG5PLY3-xJmcEWdsXM2PXunbZ0ZoqeA-zXNNpMQFall4efa8Dzt8E_ITGR75GeJQvT2MiARYUs4AvSk9YPZ0IhUgfvmAbg9DzHWNjZ9HoH8tFOrBcUUfD0hiEOpxpPVghoYkxZuXSqje_1q6vo81M19PmVvghn_s8CK0171w0QiJ813i1psLqfy5cjh3NotRlIDH24uM-5oVjdcoaFkbvxpPYLpCjZ4eOzkSN9WjXysb4icy-w-M9VS_6xzMt4eqdmkTOk5qmu-LQiWaWej9qWCVoTNmLRlm127F0IILtUZccUFW2AnudW4ANxixAZADQtOk06KPeopOf5JaR24zPdOnjUmO5qQM3ViI963JDpAGFagtIy5D7dyHWMkX7vYkOoT8pZMaQN2xwL7Ru39FmWsqbx8NnOKbfQ=w357-h490-no"/>
                            <br>
                            <p class="font4 black"> <b> Reviews and Ratings </b> - A key feature of the site, rankings and reviews gave our users a way to share valuable insights about activities and experiences  </p>
                       <img class="sppic" alt="" title="" width="49%" src="https://lh3.googleusercontent.com/NJgoETd1MdVXN7MVRy-ax4c3oJS3nYlMN7ULy0si0UsfCxAf7UlZlIU4IZZgwh3zaJ6rJ1ImJPoVv-5fzC9ezCh1cbSb-AC7U8vrhbI_NvT2YUxm71hKWfrfIU0Ztk7eBQNxdTCQwb8CLECzs3gLFXA3LvGZw6jv3ia2j9lQe40FeXzU6xCNKzsA7e3glL1y12QdBBH6QUZmzyb8nBpe_i9A_zQLBoVv43qWZvfAMWjBTB2Q5PsgFPeND11_5uX60srk4ZaNQmZdRUfnxy7mspfAXseV0hs2iviv2Z3O9j5GjxASXlDrHOq2rbFYp_e_FnZ7STKN4CCxfBMya2uSKpDwyxNFiY1L7kkq7mpCcm9-8KdDAU4F4ydq2UzbkOb1tr4AM7pck3IvS6WLu-f6RV7dEb4-umUa0N0a3HMlKpHOEJke8Tt7uWTKpk9WKKLMP82LZT4k8jzqzhbo_HCDECAVgSEb9u0UreKcr_V66aKo9YnDGOxl4H4aaE9Otssh84AFTfyd-WUuY46Dn5TC717icj8i_k3X7YgWkKTswC3Iy76mKYFfimQ6-hLOufD1QlJSYtXOnnJcTN2OrE5ZHYsmMFg1VPcI3HxgCh5aWBxsZ05azdytFguIzNGQ0WVpC6nmUNFBTrjM1vtE9elM4yyKRcMiwTQ=w597-h264-no"/>
                       <img class="sppic" alt="" title="" width="49%" src="https://lh3.googleusercontent.com/59hr-8O3E6KDEsvoE1ARodUvwcBOFPvPDtksqYlwnw-56sTY8bixPzP7B1XN4ShlmkAlNieCudu7ywipb5h4LZMfJyhaQWXzSD9s4KUCPds0Rec5Rv6QefuunrToKCxuv5vATZ_zqPdEYYJFqZRpayLTcvZFYH1gQ3T42MU-ZxdrGuaWZEU6x_69f9ZvfBp-aJ_LShqLR5QwlQzVS2C1ULcRzhRfK4WCPehQUrGOp2_bgKg_HujIWQh8lL4BSp4yHhq5iO_WXWYPnQPhUvbggzReHhcmV5B1Kj8RS2lUECJSDU0qW7DXj2BUwa-LuduEbYpXdwbgwlclIPtjUtrdxgpCpKp0MZZxgAfaF_BzMpAUR5zKtl4V_zlsAX3w1PJ4sC62jSXT23YkWxXJqp4m5_NwA_A7zbwMydTduv8nE716xkw7vupMwxf8DZVMbgOEU2bhe3rR0P1fqVOLB3Z5Eyx7s33OnlPo8QeKaYxKFI_Nc784O89TdK93S-oguTbyjP3-PJEShW9UN-xIJmHCgkFqvjbMvlobNZhjsaMZZiPJTbyBq4EZ5u9w3MrA8RZmI_QvqUMhogq9VkjEaRsWfyvr2EAFRrVF9x-cxJuEwqkNz9L6n7fhN_1FLCFzQ6-lJ_7ob3dRl8f0Kict6hUX1IirMywHu9Y=w596-h222-no"/>
                       
                       {% comment %} <p class="font4"> Distinct Card Elements make the site easy to navigate </p>
                       <img class="img-responsive sppic imgcenter" alt="" title="" width="49%" src="https://res.cloudinary.com/jmperez/image/upload/w_auto:100:684,f_auto/v1509278557/placeholder-options_vtwp6b.png"/>
                       <img class="img-responsive sppic imgcenter" alt="" title="" width="49%" src="https://res.cloudinary.com/jmperez/image/upload/w_auto:100:684,f_auto/v1509278557/placeholder-options_vtwp6b.png"/>
                       <p class="font4"> Data Collection: Was maanged by a webscraper that found the list of oa popular website online  </p> {% endcomment %}
                </article>
              </div>


              <div class=" add-top-half">
                <article class="services-item">
                <i class="fas fa-pen-fancy fa-2x"></i>
                  {% comment %} <i class="ion-social-buffer color"></i> {% endcomment %}
                    <h4 class="font2 black">Design Theory </h4>
                        <!-- <ul class="font4">
                              <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt,</li>
                              <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt,</li>
                        </ul>  -->
                       
                       <p class="font4 "> Two distinct branding fonts were chosen to deliver a clear message within the site while still allowing it to maintain its youthful roots. From the beginning, I wanted the website be be bright and colorful, reflecting the content inside it. Inspired by the aesthetic of crayola crayons, I chose a color palette that incorporated primary colors. The majority of colors used in the site are the actual color codes from Crayolas original eight pack. Icons deliver a consistent voice throughout the site and add a much needed visual element that we found was lacking from other sites.  </p>
                       <img class="img-responsive sppic imgcenter" alt="" title="" width="49%" src="https://lh3.googleusercontent.com/Xp7cPcru_Nx8URnlw18smwSxOTHL9CIZ3cTepLdw5VUUDKzXrzLW2B0aIMD9N6faoyVvRpetW2Ks6_d4VMrh8nyuR08FVqtYgw9WXwX9MNSHKIFfJxgUUY3L9AMF8P2DgRZF0heiWydHYKfaPBqCUJislVaTLmCjsKFe_YzbIbJl3R4lI0ZaK_7IE0vvGose_-Om-8VGa40BT6K43EENXgkI_H9j65QoVuHmKnUdwv-KQsRKVZdmQtd9FzRFmkcAnO1lH81ow3PaYtuC3xjfFhRDMLhjiwqkZtM1kOyfCcuFByIg4C4m2TZEDJm_PcAnJddGPmMr5d1a84QKYQYiAuDh8hjmarzzK63wtq3VII0fgcVEtXNIyje9-CXxd4nbEVl4ira8pQ8YRXcZWb6O758Ku_nl3wdjMfJtAIcOe-ONWo-cObb1vfeHtMWePwj7a7T7vR4GUYPIPnbxxpizFmoCA1XoeMSpd_b877f4fZggcIqwgcFrOriRamnlk5J_FDiZqck9b1fOXz2zIjt9351m-z2UviNSgPWZKgN1N9XuRqE4XWkVYFOrCyX-iPuHzgnGw4cXKPE7TKYR8gFwTPN4vZUKFFm5yPYIhn_jpLshYd0dcIwN0fl36HFyEYLeMv2miMm4oQHspe3uNOpWsd08wdYW3X0=w900-h600-no"/>
                       <img class="img-responsive sppic imgcenter" alt="" title="" width="49%" src="https://lh3.googleusercontent.com/CNw8f8yI6h8784-AwOzqfaAi91EuDN_zPylyK0Ho9AIRGmz6j-5twE_IMZ45l8xs38nXii6eXpLV2-0wHBnH0m7ME26RnBQV0KEP3JMeHMIGWNKPLO3PPYwZ8EjXfq-hRei8u4W1tMYRJFJMbOBulkw58CJ7p_tKqTm_oRfXMvlEcDbXs4e0bKbDOj8AX9SFALGG6I55iu8daStFc5YJJVI__1meYfEC4liqkMTwZz0mTgrukMFghVHaA1zAX_4T02L6clgU7iME22VdnRISxwfxCZg6zW85Tw54v36-keoerX5U0O6F-vRxrHUyBvCv0InvQ3yDkHRTSXftXHx-gLQ5gWly2ehPqqJfQIqHnaqKd7NF5J7M-by4KeMKxwZBsJ-H6IMA-RbPx80fdYV_8WfmkvSB8IthR0aI1mVfSX5BBeAgoSaB0ybAeHLoqVrkvEIq6o7AjslT_BOPskruQJ4t0RZIWpkWbmojL6zLGpoHPuDBgwXpWFPGDyvknWFm7Ki4Br53K5EZD_KZKXSc5v1gUFsg33KVHkqQlyHQwS4qnb9aPFeHUdWMQDhY9eLIP6ysVU7qXaPxPIEJrJDXMXcW1HVgYasH8vQRMZPk7Lwnf-m76wEHRY0CX8HQGfl-f_4VRInr9kJWRpu1pqei9lhc2zyV_Zo=w900-h600-no"/>
                       
                       <img class="sppic" alt="" title="" width="100%" src="https://lh3.googleusercontent.com/PqyS0iB8sFdJqFnWHJ3AV5gx1Czd-BDYGgXM52DSLJHdodGOa7CAF0gDjOvRu1VmY7xr-MF35AkV0O4PNAm-xrsXRHXlDuvb7GiQ5V8CLP3NKhUZRjzwOTkVqHfXPn8cFIGIWQag6kXE8zdb8QFDf_ePSfXhpnOEg6bFhvhFRxL6E_sM2s9_dpsZ0cm0s7JBz43Fl2LQUgcSFHyjwL19JZvIRwQVhNG4LBJ1GcxIYy8SOqxAWyvlqS0YAayieghy7iJmrF2avN97xsSuS_-eSrw2yL-qM5vXknw82zc94SuBlVCMdaAGLuM_gEbE-B0qflKrba8koj93k3-QAWXVxX8HUG8BQKyMrJH6FG4toeEZNj2AxyQoDgr5OjldrdwfY1tU9m0ZcQ23aKKSmUymu8JPJTH2x4KzQDYRADfAaG4u5GWDA6sNef1r7XJ_tbesIUXkUKc3RM_lh7QWR3p93qqgIxqykTg1rgvREwqwAG3S14Y4NClPg4Yr7ZrmlqjEFgnoHDG6ra1PimksnIDlkYgYz8zaVgvVxtBjkKOCau-ieGylXTOjtLD6poGEZVzWFvokp3jmxO2UpkEux1VfqhkNwXfmA-ZzDPcAqSb-MlAZDlAUofyZ38m2BJ7Vj_TMbDRwPFsz-58cusWKew8V6Ud4FNTxvro=w1480-h260-no"/>
                       {% comment %} <p class="font4 "> From the beginning I wanted the website be be bright and colorful, reflecting the content inside it. Inspired by the aesthetic of crayola crayons, I chose a color palette that incorporated primary colors, many of which were the color codes from Crayolas original eight pack</p> {% endcomment %}
                       
                       <img class="sppic" alt="" title="" width="100%" src="https://lh3.googleusercontent.com/yD_cmNBsb2EfT4_iJzoWS-PR98BqNaXd0VwMJsUZKJnaTz6p3prOJe0od3hzD0CeKhslXxS0HTy1lVY-fQtMdn7gcoGeFa90VR842GuO0H2KZxh96X_WnKxOpcAWTbMMJGHdfMhFVPY9NCek4j3Cz3T_tekLXeoWUvyYv6eg8ElbfixZndfN9C1NlbRlgEPPZLE-5VsmYJPo7I5AL3BPFZPS8skVquXYyzdXplrP7FUYtO0WHff2x9qk3sFBP-RP7GBCVxDlN3CxZku_bFYBW35r6ny55vDm_NQezgWE6IJTGNp02wT3I7VXrNSWlFtoP6u-N3oRzNGAOHzht7fWjTBlPtuV4Wsk9T2KJXjjOJ8ekTjFFurb4E9NOMDQfy3tS2RnqWjt3MOMSzurJWiWZOJZWWmFj_ImHficNNQhXaVct80hnsD1vSxCvZoKoYpY9H65m97pYZFP3cVWr7DUm8lmfEuDsC9YFQ5JdVBQEQ9ZxY0j5EJ9d2XnP9a5_B4WzE_gWAAMLv_je1F8FmZFQG4QXP2uAO8Gc4HMTwzi7-ecmFH_j7GQc-aem_0gxOPBqVist5vmt4bFBD6t1ci9gnvrJ__ek_W0uRSlxyGiXWY4SlhxpvSGUNuJoWr-9H-txKYqW8qUkUIIO_EmQ_jCBCCntVuxJVk=w1403-h194-no"/>
                       {% comment %} <p class="font4 "> Icons deliver a consistent voice throughout the site and add a much needed visual element that we found was lacking from other sites</p> {% endcomment %}
                       


                                 
                       {% comment %} <p class="font4"> Data Collection: Was maanged by a webscraper that found the list of oa popular website online  </p> {% endcomment %}
                </article>
              </div>


              <div class=" add-top-half">
                <article class="services-item">
                <i class="fas fa-forward fa-2x"></i>
                  {% comment %} <i class="ion-social-buffer color"></i> {% endcomment %}
                    <h4 class="font2 black">Next Steps </h4>
                        
                       <p class="font4">Currently in its testing phase, The Little Triangle is currently being reviewed with small user groups and looks forward to larger testing and a possible launch in 2019. See it at <a href="https://www.thelittletriangle.com/" target="_blank"> thelittletriangle.com </a> </p>
                       <br>
                       <br>
                       <br>
                       <br>
                       <br>
                       <br>
                 </article>
              </div>
              






            </article>
            
            
            {% comment %} <article class="col-md-12 text-left news-sidebar">
                <h3 class="font2 dark">More Projects</h3>
                <div class="liner color-bg"></div>
                <ul class="font4 dark">
                  <li><a href="post.html">Quizzer</a></li>
                  <li><a href="post.html">CHANT</a></li>
                  <li><a href="post.html">The Oak House</a></li>
                  <li><a href="post.html">Itunes</a></li>
                  <li><a href="post.html">Wayfinder</a></li>
                </ul> {% endcomment %}
                
                <!-- <div class="post-tags">
                    <a href="news.html" class="btn btn-otto btn-otto-dark">Django</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">Python</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">HTML</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">CSS</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">PostgreSQL</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">Heroku</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">jQuery</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">JavaScript</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">Sketch</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">minimal</a>
                </div> -->
            {% comment %} </article> {% endcomment %}
          </div>
        </div>
    </section>




  <!-- FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <footer class="mastfoot container-fluid white-bg">
    <div class="row">
          <article class="credits col-md-6">
              <!-- <p class="font4 dark">Copyright &copy; 2019 <a target="_blank" > </a></p> -->
          </article>
          <ul class="foot-social col-md-6 text-right">
            <li><h2><a href="https://www.linkedin.com/in/sam-locascio/" target="_blank" ><span class="ion-social-linkedin-outline"></span></a></h2></li>
            
            <li><h2> <li><a href="https://github.com/sflocascio" target="_blank" ><span class="ion-social-github-outline"></span></a></h2></li>
            <li><h2><a href="https://www.facebook.com/sflocascio " target="_blank" ><span class="ion-social-facebook-outline"></span></a></h2></li>
          </ul>
    </div>
  </footer>


  </section>
  <!-- end : mastwrap -->






</section>
<!-- mastwrap-outer ends -->






<!--share panel :starts -->
<section class="share-panel white-bg fullheight">
      <a href="#0" class="share-panel-close white">x</a>
      {% comment %} <div class="share-panel-heading font3 dark"> Contact / Download Resume </div>
      <div class="share-panel-heading font3 dark"> Contact / Download Resume </div> {% endcomment %}
      <br>
      <br>
      <br>
      <br>
      
      <div class="valign">
      <p> Contact / Download Resume </p>
          <ul>
            {% comment %} <li><a href="#"><span class="ion-social-twitter dark"></span></a></li> {% endcomment %}
            <li><a href="mailto:sflocascio@gmail.com"><span class="ion-ios-email-outline dark"></span></a></li>
            
            <li><a href="https://www.dropbox.com/s/hs9jv4cgzzjrsu7/SamLoCascio.pdf?dl=0 " target="_blank" ><span class="ion-ios-download-outline dark"></span></a></li>
          </ul>
          <br>
          <p> Social  </p>
          <ul>
            {% comment %} <li><a href="#"><span class="ion-social-twitter dark"></span></a></li> {% endcomment %}
            <li><a href="https://www.linkedin.com/in/sam-locascio/" target="_blank" ><span class="ion-social-linkedin-outline"></span></a></li>
            <li><a href="https://github.com/sflocascio" target="_blank" ><span class="ion-social-github-outline"></span></a></li>
          <li><a href="https://www.facebook.com/sflocascio " target="_blank" ><span class="ion-social-facebook-outline"></span></a></li>
          </ul>
      </div>
</section>
<!-- share panel :ends -->




  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    
  
  <script src= "{% static "javascripts/libs/common.js" %}" ></script>
  <script src="{% static "javascripts/libs/bootstrap.min.js" %}"></script>
  <script src="{% static "javascripts/custom/main.js" %}"></script>



</body>
</html>
