{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Info
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Sam LoCascio</title>
  <meta name="description" content="Sam LoCascio's portfolio">
  <meta name="author" content="Sam LoCascio">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png" />

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600%7CMontserrat:400,700%7COpen+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

  <!-- ICONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href=" {% static 'stylesheets/ionicons.min.css' %} ">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static 'stylesheets/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static  "stylesheets/isotope.css" %}" >
  <link rel="stylesheet" href="{% static  "stylesheets/venobox.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/owl.carousel.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/sidepanel.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/elements.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/slimmenu.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/main.css" %} ">
  <link rel="stylesheet" href="{% static "stylesheets/main-bg.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/main-responsive.css" %} ">

  <link href=" {% static ' plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet' %}"/>

  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  <!-- LESS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet/less" type="text/css" href="{% static "less/color.less" %}" >
  <link rel="stylesheet/less" type="text/css" href="{% static "less/fonts.less" %}" >
  <script src= "{% static "less/less.min.js" %}"> </script>


</head>

<body>

  <!-- Preloader
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="preloader"> 
    <div id="status"></div> 
  </div>
   <nav class="mobile-nav">
            {% comment %} <nav class="mastnav font2"> {% endcomment %}
            <ul id="menu" class="slimmenu ">
              <li class="trigger-sub-nav font2"><a data-sub-nav-target="intro" data-filter=".about" class="main-nav-link" href="{% url 'home' %}">About</a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="works" data-filter=".project" class="main-nav-link" href= "{% url 'portfolio' %}">Projects</a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="pages" data-filter=".ui" class="main-nav-link" href="{% url 'design' %}"> Design Process</a></li>
               <li><a href="mailto:sflocascio@gmail.com"> &nbsp; Contact </a></li>
               <li>
                  <a class="sub-collapser" href="">More</a>
                  <ul>
                      
                      <li><a href="https://www.linkedin.com/in/sam-locascio/" target="_blank" ><span class="ion-social-linkedin-outline"> Linkedin </span></a></li>
                      <li><a href="https://github.com/sflocascio" target="_blank" ><span class="ion-social-github-outline"> Github </span></a></li>
                      <li><a href="https://www.facebook.com/sflocascio " target="_blank" ><span class="ion-social-facebook-outline"> Facebook </span></a></li>
                      
                      <li><a href="https://www.dropbox.com/s/hs9jv4cgzzjrsu7/SamLoCascio.pdf?dl=0 " target="_blank" ><span class="ion-ios-download-outline dark"> Download Resume </span></a></li>
                  </ul>
              </li> 
              
            </ul>
            </nav>

  
<!-- mobile only navigation : starts -->
{% comment %} <nav class="mobile-nav">
            <ul class="slimmenu">
              <li>
                  <a class="sub-collapser" href="">home</a>
                  <ul>
                      <li><a class="ajax-link" href="index01.html">masonry</a></li>
                      <li><a class="ajax-link" href="index05.html">agency</a></li>
                      <li><a class="ajax-link" href="index02.html">fashion</a></li>
                      <li><a class="ajax-link" href="index07.html">photography</a></li>
                      <li><a class="ajax-link" href="index06.html">personal</a></li>
                      <li><a class="ajax-link" href="index04.html">fullscreen</a></li>
                      <li><a class="ajax-link" href="index03.html">bg video</a></li>
                  </ul>
              </li> 
              <li>
                  <a class="sub-collapser" href="">works</a>
                  <ul>
                      <li><a class="ajax-link" href="works.html">masonry / random</a></li>
                      <li><a class="ajax-link" href="works02.html">masonry / 3 col</a></li>
                      <li><a class="ajax-link" href="works03.html">masonry / 2 col</a></li>
                      <li><a class="ajax-link" href="works04.html">masonry / 4 col</a></li>
                      <li><a class="ajax-link" href="works05.html">masonry / spaced</a></li>
                      <li><a class="ajax-link" href="works09.html">random spaced</a></li>
                      <li><a class="ajax-link" href="works06.html">square grid</a></li>
                      <li><a class="ajax-link" href="works07.html">dual column</a></li>
                      <li><a class="ajax-link" href="works08.html">single column</a></li>
                      <li><a class="ajax-link" href="project01.html">project view</a></li>
                  </ul>
              </li>
              <li>
                  <a class="sub-collapser" href="">pages</a>
                  <ul>
                      <li><a class="ajax-link" href="about.html">about</a></li>
                      <li><a class="ajax-link" href="pricing.html">pricing</a></li>
                      <li><a class="ajax-link" href="news.html">news listing</a></li>
                      <li><a class="ajax-link" href="post.html">news post</a></li>
                      <li><a class="ajax-link" href="elements.html">ui elements</a></li>
                      <li><a class="ajax-link" href="contact.html">contact</a></li>
                  </ul>
              </li>
              <li><a class="ajax-link" href="project01.html">project</a></li>
              <li><a target="_blank" href="http://themeforest.net/user/designova/portfolio">buy theme</a></li>
            </ul>
</nav> {% endcomment %}
<!-- mobile only navigation : ends -->


  <a class="onscreen-trigger" href="#"><img alt="" title="" src="images/next.svg"/></a>

  <!-- Header
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <header class="masthead white-bg fullheight">
    <div class="valign">
      <div class="inner">
          <a class="#" href="{% url 'home' %}" ><img alt="" title="" class="logo" src="https://lh3.googleusercontent.com/i_oM_TXIDC_6ajgLjLHLpgXpdq9IMnBiIY4eaduMJrD1QCVtjg-C2LCeoJSbuDZ580leaIJYLP5rLXy_M28Q3gTROc6X71WmqzNOP_bK1tNiFXOy_boD0REnf2W7U7gUl1W2MfcUaKcTkcN429vtfyv48sTZrwzcFcaXuYqIwBdihHc19Lv_eAWfSjy2GsylWt3ZIq3Yw9O1Mox7lnZ4btyY6mURmtpMKr8GfCMRCTf8Os8UIhVmmAeKOKQXX1AgQOeZb6rn-cinETjwwp234oIZa9NegdLPE1OIXDEPs--nPexrlg7XyqdSJtURvIepOVohu5v-kh1alAF2O2BZtEuMHnGGmTs9lrgrDOLRY0muGl7PzWrgeSEtyPeHHPvoWGxDkUezvdLAtodee61FI6_ixqxhUJstQr_y7EPaaznjHWQybvO4t3arBTstEFg8tC3bmQOsKrBMiJullJoX4ubGPd8fq9o-TFACf0Tn-WE4cNmw7J03K__FAD46tBjbP_aU4VfP-aA83mlBzGlv8OfUPzDTJ_kZJhSgbdwXNcksFso340dFlN2bLUZ6-HG08IiMN53xITYenwgEfKuTLhKyZyfz3UFKvWLku5oYi5U7CbA_bxoNwvo7I6s8IzReuNpKvweAqnZuw6jSZuWaKF6CpuC5obk=s60-no"/></a>
          <nav class="mastnav font2">


          <ul >
              <li class="trigger-sub-nav font2"><a data-sub-nav-target="intro" data-filter=".about" class="main-nav-link" href="{% url 'home' %}">About</a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="works" data-filter=".project" class="main-nav-link" href= "{% url 'portfolio' %}">Projects</a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="pages" data-filter=".ui" class="main-nav-link" href="{% url 'design' %}"> Design Process</a></li>
              {% comment %} <li class="trigger-sub-nav"><a data-sub-nav-target="pages" data-filter=".ui" class="main-nav-link" href="#"> Resume </a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="pages" data-filter=".ui" class="main-nav-link" href="#">  Contact </a></li> {% endcomment %}
              {% comment %} <li><a class="ajax-link" href="project01.html">Resume</a></li> {% endcomment %}
              {% comment %} <li class="trigger-sub-nav"><a data-sub-nav-target="works" class="main-nav-link" href=  "{% url 'post' %}">Link</a></li> {% endcomment %}
              
            </ul>
            
          </nav>
      </div>
    </div>

          
          
    <div class="sticky-icons">
        <ul>
            <li><a class="fullscreen-toggle" href="#"><img alt="" title="" src="images/prev.svg"/></a></li>
        </ul>
    </div>
  </header>

{% comment %} 
  <!-- sub navigation panel : starts -->
  <section class="sub-nav-wrap fullheight dark-bg white font2">
            <div class="valign">


              <!-- sub navigation section -->
              <ul class="sub-nav sub-nav-intro">
                <li><a class="ajax-link" href="index01.html">masonry</a></li>
                <li><a class="ajax-link" href="index05.html">agency</a></li>
                <li><a class="ajax-link" href="index02.html">fashion</a></li>
                <li><a class="ajax-link" href="index07.html">photography</a></li>
                <li><a class="ajax-link" href="index06.html">personal</a></li>
                <li><a class="ajax-link" href="index04.html">fullscreen</a></li>
                <li><a class="ajax-link" href="index03.html">bg video</a></li>
              </ul>

              <!-- sub navigation section -->
              <ul class="sub-nav sub-nav-works">
                <li><a class="ajax-link" href="works.html">masonry / random</a></li>
                <li><a class="ajax-link" href="works02.html">masonry / 3 col</a></li>
                <li><a class="ajax-link" href="works03.html">masonry / 2 col</a></li>
                <li><a class="ajax-link" href="works04.html">masonry / 4 col</a></li>
                <li><a class="ajax-link" href="works05.html">masonry / spaced</a></li>
                <li><a class="ajax-link" href="works09.html">random spaced</a></li>
                <li><a class="ajax-link" href="works06.html">square grid</a></li>
                <li><a class="ajax-link" href="works07.html">dual column</a></li>
                <li><a class="ajax-link" href="works08.html">single column</a></li>
                <li><a class="ajax-link" href="project01.html">project view</a></li>
              </ul>

              <!-- sub navigation section -->
              <ul class="sub-nav sub-nav-pages">
                <li><a class="ajax-link" href="about.html">about</a></li>
                <li><a class="ajax-link" href="pricing.html">pricing</a></li>
                <li><a class="ajax-link" href="news.html">news listing</a></li>
                <li><a class="ajax-link" href="post.html">news post</a></li>
                <li><a class="ajax-link" href="elements.html">ui elements</a></li>
                <li><a class="ajax-link" href="contact.html">contact</a></li>
              </ul>

            </div>
  </section>
  <!-- sub navigation panel : ends --> {% endcomment %}


 <section class="sticky-sidebar white-bg fullheight text-center">
      <div class="valign">
          <ul>
            {% comment %} <li><a href="#" class="works-filter-trigger"><span class="ion-ios-shuffle dark"></span></a></li>
            <li><a href="#0" class="cd-btn"><span class="ion-ios-download-outline dark"></span></a></li> {% endcomment %}
            <li><a href="#0" class="share-panel-trigger show"><span class="ion-ios-email-outline dark"></span></a></li>
            <li><a href="#0" class="share-panel-trigger show"><span class="ion-ios-world-outline dark"></span></a></li>
            <li><a href="#0" class="share-panel-trigger show"><span class="ion-ios-download-outline dark"></span></a></li>
            
            {% comment %} <li><a class="ajax-link" href="works.html"><span class="ion-ios-grid-view-outline dark"></span></a></li> {% endcomment %}
          </ul>
      </div>
  </section>



<!-- dummy overlay for whole page when sidebar is active -->
<section class="featured-mask-overlay"></section>




<section class="mastwrap-outer cd-main-content">

  <!-- MASTER CONTENT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <section id="ajax-content" class="mastwrap spaced-left">
      


    <section class="sub-wrap pad-top-half pad-bottom-half">
        <div class="container">
          <div class="row">
            <article class="col-md-12 text-left news-post">
                <h1 class="font2 dark"> Quizzer </h1>
                <div class="liner color-bg"></div>
                <h5 class="font4 black"> A modern and minimal flashcard based web app using Python, Django, and javaScript  </h5>
                

<img class="img-responsive sppic imgcenter spshadow" alt="" title="" width="100%" src="https://lh3.googleusercontent.com/HsKYNg9hJb7o08q8Mm-6taSC2JdX0W0OPOOP4WgQPapITFDr0A93Yir9Sso7L18E7xTCONqga6D2XIRzcqVposykbZ66jFhjYhKEy2xDDjeE87Cpm1XMD7NUfHOn6ITXmqhMANmbNLhWKhPgwEa_z_EAFn8FLfwMeyH5AgvA5J-5bIqdgdiVXL2vpeMz-m3DJueBs0JNBKoa6bhHjoykwDe3wNd4qmTYTnj0y7Rlemdf66vbl1NHqBftfk0Cq4KUERq97VJQ5tlOxkVH_txyo6UKDWmFCfOln7qkcTgamB32z3h-SJqm1ZAQK9OfkkoU0JxQ0NKrSFG1of5f1QcCVaecc7kLGxc04dQcFq7rvRU0Z1rg1ISVAxKSi64RfzlB2AgEIfZ5O3TbgK3ifQEq_beNhkOaVNGHKThriF76DQ2cY4hu3ebLhWbqhorI50m9fs0JxD3VNTzkq6YEHpvNTLex28wljM5MpO4Cpyn-jonnvdrbW1UCheSoFH9YVaZxsDnkz9aY9iF6Zor5hG3I8ILbAtHP24hvMhOo7p1jl3C_u0-9ogeRfl4T-Wuearee9Rsuwb0TDLPjsmvEINY5e_EMvqeI4Wr8WT06yVIqx6pZo2rSb8vAnBmks2f3dRaZhUkJDszQuRdKpvIeI13Ehu8kn_uejYE=w1540-h697-no"/>


                
          <br>
          <br>
          <br>

          <h3 class="font2 dark"> Overview </h3>
                <div class="liner color-bg"></div>

                  <p class="font4 black">Simple and to the point, Quizzer gives you a place to create and store personal quizzes for quick studying, and (scientifically) better retention.     </p>
                <br>


<img class="img-responsive sppic imgcenter spshadow" alt="" title="" width="49%" src="https://lh3.googleusercontent.com/KgDx1baQ_jbao3L6a0YX73hLkJeBStojgECgNBg8eaQj3enaPLHPxweouz0yuyz9bi_VvOEJVAW-viUCZ-Pu0ed1LGYTRSROv_eXesG2ZBDM7_ZtMYgoneyhCy5jbSWZoK6La7ZxMtmZIp5r7l10_69poo00LSakpK9m1M4kEC7BOXquyk3xDS10jbHRCx8oVUpYkN4JF5qQXoZAuVm7QfdxM3x0A49E_4DCxkHfJyHwbk6ivb-G7g5glsg5lIXC46-bjoWBeYCMAFYpmPKMo-A22vKfLD-ai6U3zEsx71Ds50iicbm82eAMmzEuN8BwiLHPEzrNheyrRJmEemlBP3Vesej_dkPDHt8x0HkF6cTy-KmVti462cSf1grGgKN3Gv8NgoUtom7lKsjKsN2zbgrWcYLNNFTESKD41TWG1FcTpkZH8JCjYpUFiIQp7t6eAlypOvDgry5HVM0MyIKMUYH2xzQ5o4eDKVeQbkUO7h8hMe2iKijGDWiJtAGbi8jG-ShryMD-xC1FF-SvPf5Xy4s2zzMghIMhXgDGT_x2NPKZcr_sdSPg3NoUAPNyplVbxneo_ceSX0HiIx8bp8aLTSQlsnLAquZfpjh-cEzOQTfNJyqVlAwnCTRB3FYNoEJH2wRQ3Bz5WAk2MT1UVT2ziEGehiRl7S4=w1143-h680-no"/>
                       <img class="img-responsive sppic imgcenter spshadow" alt="" title="" width="49%" src="https://lh3.googleusercontent.com/_P4YpIvZcLi0Qwesp_tivuVV3njrQJ2eX47fzkmyxq-La8tEq4S-RIEwbyoD0NLT-lyMsOkLso9wZJZxbQi2pUQzHjMy9uu_lc4age4QnDhdHYLgiWz0uKoWilW5OKHwES-DsFer5VdaT_dVdKM63-7aSmeg43F4rQoQmEtVPdvDSniLSEZGvRQ_LK-eTXD9dKIAUrBdKCPVoBPWR0ExlB_wTjFAVHLif-FfUii4THMLUaD2NNf1_yrQ18y3bwwZXvyobUetizD1rl6rOpC-x3P291O5TadVKwsCpYyBSwgtrOWtgo4UmVPvXF-5E987WqQdyK45NSxh6Vj8scbC7NNcBn5IOJ5pnOjAD32FizaUchlpgXDV3uWUhWTbcYPVpVWQpYwnHNL73wUHaPb-hoGOtV3zP96MFZnguB0zFSBunPr88X8nXm9Lcujo7dut7QL_lauymAzVtl4cY1XX1JqPGoxF1FDT0MLKleDeQB0r-Fa64nf0Lb6Ej23S5IC3V1d39HCj_GfwH0FQaWXDyGelS5lWDI3KfQrV_gL59tz1_7qmg9WJXsZld-UNjjSLhRgX74Q5cAIE4V7WUgNEmB78iaVzz0420vGO33IjtHOnFCw-52xT9xrQznBMgVIr8HVtULysDiIUmcdPV_9YkAHXpopcJwc=w1127-h680-no"/>
              <div class=" add-top-half">
                <article class="services-item">
                <i class="fas fa-search fa-2x"></i>
                
                  {% comment %} <i class="ion-social-buffer color"></i> {% endcomment %}
                    <h4 class="font2 black">Components</h4>
                        {% comment %} <ul class="font4"> {% endcomment %}
                              <p class="font4 black"> <b>Home Page</b> - Create a new quiz, see current quizzes, edit, sort, share or delete. It’s all accessed here </p>
                              <br>
                              <p class="font4 black"> <b>Quiz Detail</b> - Add as many cards as you need to the quiz </p>
                              <br>
                              <p class="font4 black"> <b>Quiz Page </b> - Mobile friendly design with a click to flip feature using javaScript </p>
                        {% comment %} </ul>  {% endcomment %}
                       {% comment %} <p class="font4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt, massa congue laoreet commodo.</p> {% endcomment %}
                </article>
              </div>
              <br>
              <br>
              <br>
              <br>
              <br>


              <a href="https://github.com/momentum-cohort-2018-10/w8-group-project-2-peter-max-sam-and-ardra" target="_blank"> <h4 class="font4 black"> <i class="fab fa-github  "></i><b> See this project on Github </b> </h4></a>
                         <br>
                          <br>
                           <br>
                            <br>
                            <br>
                          


             


              
              






            </article>
            
            
            {% comment %} <article class="col-md-12 text-left news-sidebar">
                <h3 class="font2 dark">More Projects</h3>
                <div class="liner color-bg"></div>
                <ul class="font4 dark">
                  <li><a href="post.html">Quizzer</a></li>
                  <li><a href="post.html">CHANT</a></li>
                  <li><a href="post.html">The Oak House</a></li>
                  <li><a href="post.html">Itunes</a></li>
                  <li><a href="post.html">Wayfinder</a></li>
                </ul> {% endcomment %}
                
                <!-- <div class="post-tags">
                    <a href="news.html" class="btn btn-otto btn-otto-dark">Django</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">Python</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">HTML</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">CSS</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">PostgreSQL</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">Heroku</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">jQuery</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">JavaScript</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">Sketch</a>
                    <a href="news.html" class="btn btn-otto btn-otto-dark">minimal</a>
                </div> -->
            {% comment %} </article> {% endcomment %}
          </div>
        </div>
    </section>




  <!-- FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <footer class="mastfoot container-fluid white-bg">
    <div class="row">
          <article class="credits col-md-6">
              <!-- <p class="font4 dark">Copyright &copy; 2019 <a target="_blank" > </a></p> -->
          </article>
          <ul class="foot-social col-md-6 text-right">
            <li><h2><a href="https://www.linkedin.com/in/sam-locascio/" target="_blank" ><span class="ion-social-linkedin-outline"></span></a></h2></li>
            
            <li><h2> <li><a href="https://github.com/sflocascio" target="_blank" ><span class="ion-social-github-outline"></span></a></h2></li>
            <li><h2><a href="https://www.facebook.com/sflocascio " target="_blank" ><span class="ion-social-facebook-outline"></span></a></h2></li>
          </ul>
    </div>
  </footer>


  </section>
  <!-- end : mastwrap -->






</section>
<!-- mastwrap-outer ends -->





<section class="share-panel white-bg fullheight">
      <a href="#0" class="share-panel-close white">x</a>
      {% comment %} <div class="share-panel-heading font3 dark"> Contact / Download Resume </div>
      <div class="share-panel-heading font3 dark"> Contact / Download Resume </div> {% endcomment %}
      <br>
      <br>
      <br>
      <br>
      
      <div class="valign">
      <p> Contact / Download Resume </p>
          <ul>
            {% comment %} <li><a href="#"><span class="ion-social-twitter dark"></span></a></li> {% endcomment %}
            <li><a href="mailto:sflocascio@gmail.com"><span class="ion-ios-email-outline dark"></span></a></li>
            
            <li><a href="https://www.dropbox.com/s/hs9jv4cgzzjrsu7/SamLoCascio.pdf?dl=0 " target="_blank" ><span class="ion-ios-download-outline dark"></span></a></li>
          </ul>
          <br>
          <p> Social  </p>
          <ul>
            {% comment %} <li><a href="#"><span class="ion-social-twitter dark"></span></a></li> {% endcomment %}
            <li><a href="https://www.linkedin.com/in/sam-locascio/" target="_blank" ><span class="ion-social-linkedin-outline"></span></a></li>
            <li><a href="https://github.com/sflocascio" target="_blank" ><span class="ion-social-github-outline"></span></a></li>
          <li><a href="https://www.facebook.com/sflocascio " target="_blank" ><span class="ion-social-facebook-outline"></span></a></li>
          </ul>
      </div>
</section>




  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    
  
  <script src= "{% static "javascripts/libs/common.js" %}" ></script>
  <script src="{% static "javascripts/libs/bootstrap.min.js" %}"></script>
  <script src="{% static "javascripts/custom/main.js" %}"></script>



</body>
</html>
