{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Info
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>SLOC Welcome</title>
  <meta name="description" content="OTTO - A premium web template from Designova">
  <meta name="author" content="Designova">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png" />

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600%7CMontserrat:400,700%7COpen+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

  <!-- ICONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href=" {% static 'stylesheets/ionicons.min.css' %} ">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static 'stylesheets/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static  "stylesheets/isotope.css" %}" >
  <link rel="stylesheet" href="{% static  "stylesheets/venobox.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/owl.carousel.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/sidepanel.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/elements.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/slimmenu.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/main.css" %} ">
  <link rel="stylesheet" href="{% static "stylesheets/main-bg.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/main-responsive.css" %} ">

  <link href=" {% static ' plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet' %}"/>

  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  <!-- LESS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet/less" type="text/css" href="{% static "less/color.less" %}" >
  <link rel="stylesheet/less" type="text/css" href="{% static "less/fonts.less" %}" >
  <script src= "{% static "less/less.min.js" %}"> </script>


</head>

<body>

  <!-- Preloader
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="preloader"> 
    <div id="status"></div> 
  </div>

  


  <a class="onscreen-trigger" href="#"><img alt="" title="" src="images/next.svg"/></a>

  <!-- Header
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <header class="masthead white-bg fullheight">
    <div class="valign">
      <div class="inner">
          <a class="#" href="{% url 'home' %}" ><img alt="" title="" class="logo" src="https://lh3.googleusercontent.com/i_oM_TXIDC_6ajgLjLHLpgXpdq9IMnBiIY4eaduMJrD1QCVtjg-C2LCeoJSbuDZ580leaIJYLP5rLXy_M28Q3gTROc6X71WmqzNOP_bK1tNiFXOy_boD0REnf2W7U7gUl1W2MfcUaKcTkcN429vtfyv48sTZrwzcFcaXuYqIwBdihHc19Lv_eAWfSjy2GsylWt3ZIq3Yw9O1Mox7lnZ4btyY6mURmtpMKr8GfCMRCTf8Os8UIhVmmAeKOKQXX1AgQOeZb6rn-cinETjwwp234oIZa9NegdLPE1OIXDEPs--nPexrlg7XyqdSJtURvIepOVohu5v-kh1alAF2O2BZtEuMHnGGmTs9lrgrDOLRY0muGl7PzWrgeSEtyPeHHPvoWGxDkUezvdLAtodee61FI6_ixqxhUJstQr_y7EPaaznjHWQybvO4t3arBTstEFg8tC3bmQOsKrBMiJullJoX4ubGPd8fq9o-TFACf0Tn-WE4cNmw7J03K__FAD46tBjbP_aU4VfP-aA83mlBzGlv8OfUPzDTJ_kZJhSgbdwXNcksFso340dFlN2bLUZ6-HG08IiMN53xITYenwgEfKuTLhKyZyfz3UFKvWLku5oYi5U7CbA_bxoNwvo7I6s8IzReuNpKvweAqnZuw6jSZuWaKF6CpuC5obk=s60-no"/></a>
          <nav class="mastnav font2">


          <ul >
              <li class="trigger-sub-nav font2"><a data-sub-nav-target="intro" data-filter=".about" class="main-nav-link" href="{% url 'home' %}">About</a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="works" data-filter=".project" class="main-nav-link" href= "{% url 'portfolio' %}">Projects</a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="pages" data-filter=".ui" class="main-nav-link" href="{% url 'design' %}"> Design Process</a></li>
              {% comment %} <li class="trigger-sub-nav"><a data-sub-nav-target="pages" data-filter=".ui" class="main-nav-link" href="#"> Resume </a></li>
              <li class="trigger-sub-nav"><a data-sub-nav-target="pages" data-filter=".ui" class="main-nav-link" href="#">  Contact </a></li> {% endcomment %}
              {% comment %} <li><a class="ajax-link" href="project01.html">Resume</a></li> {% endcomment %}
              {% comment %} <li class="trigger-sub-nav"><a data-sub-nav-target="works" class="main-nav-link" href=  "{% url 'post' %}">Link</a></li> {% endcomment %}
              
            </ul>
            
          </nav>
      </div>
    </div>

          
          
    <div class="sticky-icons">
        <ul>
            <li><a class="fullscreen-toggle" href="#"><img alt="" title="" src="images/prev.svg"/></a></li>
        </ul>
    </div>
  </header>



 <section class="sticky-sidebar white-bg fullheight text-center">
      <div class="valign">
          <ul>
            {% comment %} <li><a href="#" class="works-filter-trigger"><span class="ion-ios-shuffle dark"></span></a></li>
            <li><a href="#0" class="cd-btn"><span class="ion-ios-download-outline dark"></span></a></li> {% endcomment %}
            <li><a href="#0" class="share-panel-trigger show"><span class="ion-ios-email-outline dark"></span></a></li>
            <li><a href="#0" class="share-panel-trigger show"><span class="ion-ios-world-outline dark"></span></a></li>
            <li><a href="#0" class="share-panel-trigger show"><span class="ion-ios-download-outline dark"></span></a></li>
            
            {% comment %} <li><a class="ajax-link" href="works.html"><span class="ion-ios-grid-view-outline dark"></span></a></li> {% endcomment %}
          </ul>
      </div>
  </section>



<!-- dummy overlay for whole page when sidebar is active -->
<section class="featured-mask-overlay"></section>




<section class="mastwrap-outer cd-main-content">

  <!-- MASTER CONTENT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <section id="ajax-content" class="mastwrap spaced-left">
      


    <section class="sub-wrap pad-top-half pad-bottom-half">
        <div class="container">
          <div class="row">
            <article class="col-md-12 text-left news-post">
                <h1 class="font2 dark"> Wayfinder </h1>
                <div class="liner color-bg"></div>
                <h5 class="font4 black"> An exploration in data visualazation with 360,000 data points  </h5>
                

<img class="img-responsive sppic imgcenter spshadow" alt="" title="" width="100%" src="https://lh3.googleusercontent.com/UujSCnc0W27DHjZFCjNLrG5rh4Uoum49vAPYKL2iJ8byO8izzcOHK5ub2skdgVU1ii5ktCb1Joel5dyfAtiiurdetMYn2Ry5rjii86jiA86CInGTO1Ztay0N4zFk3iocWWzm4EN1HoOJm76DjO6_OBMzUfIODUKdCkdwjg1OaQYbdnruydo6Ky0tJ_Yxy4N4bkG_eUJtk5KyP7OU8l9cgY_7NzrdjwkBu-EhuyX_WIjM40t7oF-_ctmlcxOsjFGluBIYmPqWjSeFrtZFBos896gk_nEm-HohlkFVbNTWYIUz7vnisdovOrmpRrtKZDU-_PcUwWbamQOipj074zJF-6jRuxmbaYooHO4MS8bO0e_PrNEpemMQ5F0Y5vYcqn1-rUElxnLAz9R1oDsSCMd0x4Bbi9qQ3wV7Xpyrxl1dkKpj_b6_PLYsDKtdG0xoxduLvOuEn2TBsXbWPYqQAn-yVoCZMhqH8ULemYuM0YcIwFGvTiVfvLEeCr7rPtEwj6cnQFi4RMzGScqLpqcidMfuT2FLtGviUeF6B4h4pwG2_hM5NQvxyj-VpS8JnZlBYoY2UQkfCJQNvl8q5MWaLhAsxCbQZtsQ5ievzRrPmBilIzOVjTp0R4UW66UwBCTMDhXmMVmb8k6OApbObxC57l7MKeQjcfBInpo=w1224-h680-no"/>


                
          <br>
          <br>
          <br>

          <h3 class="font2 dark"> The Challenge </h3>
                <div class="liner color-bg"></div>

                  <p class="font4 black">Given a set of 360,000 specific 4 digit elevation points, how does one make visual sense of it?  
                    <br>
                    <br>
                  My approach was to write a Python script that could convert each data point into a specific value on the color scale (0-255). 
                  When rendered, all data points combined should make an image that visually reprsents the elevation differences in the data set. 
                    <br>
                   
                 
                  </p>

              <div class=" add-top-half">
                <article class="services-item">
                <i class="fas fa-search fa-2x"></i>
                
                  {% comment %} <i class="ion-social-buffer color"></i> {% endcomment %}
                    <h4 class="font2 black">The Process</h4>
                    <ul class="font4">
                              <li><b> Clean Data</b>- Take away commas, spaces, and any other characters so the data can be easily iterated over </li>
                              
                              <br>
                              <li> <b> Height and Depth </b> - Identify max and min data points </li>
                              <br>
                              <li><b> Colorize </b> - With my max and min numbers defined I could iterate over every data point and turn it into a color code using this formula: <b> y - min_height / max_height - min_height * 255 </b> </li>
                              <br>
                              <li> <b> Tools</b>- Pillow is an excellent tool for python for manipulating images in python, this is what was used to create the image  </li>
                              <br>
                              <li> <b> Render </b> With every data point set to a color code, Loop through the data set and create an image with each data point becoming a pixel represented by its unique color code   </li>
                              
                        </ul>
                       
                </article>
              </div>



              <div class=" add-top-half">
                <article class="services-item">
                {% comment %} <i class="fas fa-pen-fancy fa-2x"></i> {% endcomment %}
                  {% comment %} <i class="ion-social-buffer color"></i> {% endcomment %}
                    <h4 class="font2 black">The Result </h4>
                        <!-- <ul class="font4">
                              <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt,</li>
                              <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt,</li>
                        </ul>  -->
                       
                       <p class="font4 "> In less than a second I am able to render image into 360,000 pixels (or rather a 600x600 image). Sure enough this data set looks like a landscape, (yay!). It took me a couple tries to get it correctly, but as you can see, the darkest shades represent the lowest elevations in the data set and the brightest shades represent the highest.   </p>
                       <br>
                       {% comment %} <img class="img-responsive sppic imgcenter" alt="" title="" width="49%" src="https://lh3.googleusercontent.com/KgDx1baQ_jbao3L6a0YX73hLkJeBStojgECgNBg8eaQj3enaPLHPxweouz0yuyz9bi_VvOEJVAW-viUCZ-Pu0ed1LGYTRSROv_eXesG2ZBDM7_ZtMYgoneyhCy5jbSWZoK6La7ZxMtmZIp5r7l10_69poo00LSakpK9m1M4kEC7BOXquyk3xDS10jbHRCx8oVUpYkN4JF5qQXoZAuVm7QfdxM3x0A49E_4DCxkHfJyHwbk6ivb-G7g5glsg5lIXC46-bjoWBeYCMAFYpmPKMo-A22vKfLD-ai6U3zEsx71Ds50iicbm82eAMmzEuN8BwiLHPEzrNheyrRJmEemlBP3Vesej_dkPDHt8x0HkF6cTy-KmVti462cSf1grGgKN3Gv8NgoUtom7lKsjKsN2zbgrWcYLNNFTESKD41TWG1FcTpkZH8JCjYpUFiIQp7t6eAlypOvDgry5HVM0MyIKMUYH2xzQ5o4eDKVeQbkUO7h8hMe2iKijGDWiJtAGbi8jG-ShryMD-xC1FF-SvPf5Xy4s2zzMghIMhXgDGT_x2NPKZcr_sdSPg3NoUAPNyplVbxneo_ceSX0HiIx8bp8aLTSQlsnLAquZfpjh-cEzOQTfNJyqVlAwnCTRB3FYNoEJH2wRQ3Bz5WAk2MT1UVT2ziEGehiRl7S4=w1143-h680-no"/> {% endcomment %}
                       <img class="img-responsive sppic imgcenter spshadow" alt="" title="" width="80%" src="https://lh3.googleusercontent.com/FaN439_pcrNLbfuJoIheMdA3XFzF_2NXrW15neq35aWfbyI80iEQkv2nbmMZ843pPYJhUsvgOuLYzRj2bXj3FO4j_bJqL0QsTeeWgehwoV-rJ8BbDx2up4cXM1BibALTZEjMzefHn5-ibMagGzMfCyd6mDczqktR9Aga-PBnKLmM3d7GkV7Odz6z6IkPJVH6poTO1BVFJgS2AJyZaek3lMa7D1xDhrvXTBD_jC3SWxj9CZOnKaE0TAOkNY48PjmS5QwUc1tlGBHtFP3UCEgOkMNUP0vNG5yFI4RPzMAnysc3ThEvPV5PSN0Obs9aHDkkWP1Fs6p-P8CRaohrvuzPQkl7-4hRVDyUvvciBoPaTb5GDxJpifDAQpr0c_M_M7K65QxGEIs5PeBKMKuj1bYEDhn30H9NlTs2m9xvqMqc8gYIOSxSDz_aTAhBxX67hHlF6zr0OeiVw4T2IDJ_iQZyMSWmGXq2QGIP-niY6veMIaoSCFdXxOMUjqHOLXElXYb7roMuAMWpvdoXD5z2CMEA5sx9McViGGQlSe3Za-C-gnVj-pe-EiJdya60KR5rUTKPVmpoXqMX7TCIR2MX97JgRJTI-PSYOVZr6h2c0lzwuxK4SdZ5zgOyyy8eKBT_YD8Fo_32rRLFeymFZuR6o-L3BlND77rRmik=s600-no"/>
  
                </article>
              </div>


              <div class=" add-top-half">
                <article class="services-item">
                {% comment %} <i class="fas fa-forward fa-2x"></i> {% endcomment %}
                  {% comment %} <i class="ion-social-buffer color"></i> {% endcomment %}
                    {% comment %} <h4 class="font2 black">Next Steps </h4> {% endcomment %}
                        
                       <p class="font4">Representing numbers as color pixels is just one way to represent large data sets. I’m looking forward to playing more with this data set and experimenting with other ways to visualize and represent it.  </p>
                       <br>
                       <br>
                       <a href="https://github.com/momentum-cohort-2018-10/w2-pathfinder-sflocascio" target="_blank"> <h4 class="font4 black"> <i class="fab fa-github  "></i><b> See this project on Github </b> </h4></a>
                       <br>
                       <br>
                       <br>
                       <br>
                       <br>
                       <br>
                       <br>
                       <br>
                       <br>
                       <br>
                       <br>
                       <br>

                 </article>
              </div>
              






            </article>
            
            
            {% comment %} <article class="col-md-12 text-left news-sidebar">
                <h3 class="font2 dark">More Projects</h3>
                <div class="liner color-bg"></div>
                <ul class="font4 dark">
                  <li><a href="post.html">Quizzer</a></li>
                  <li><a href="post.html">CHANT</a></li>
                  <li><a href="post.html">The Oak House</a></li>
                  <li><a href="post.html">Itunes</a></li>
                  <li><a href="post.html">Wayfinder</a></li>
                </ul>
                
            </article> {% endcomment %}
          </div>
        </div>
    </section>




  <!-- FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <footer class="mastfoot container-fluid white-bg">
    <div class="row">
          <article class="credits col-md-6">
              <!-- <p class="font4 dark">Copyright &copy; 2019 <a target="_blank" > </a></p> -->
          </article>
          <ul class="foot-social col-md-6 text-right">
            <li><h2><a href="https://www.linkedin.com/in/sam-locascio/" target="_blank" ><span class="ion-social-linkedin-outline"></span></a></h2></li>
            
            <li><h2> <li><a href="https://github.com/sflocascio" target="_blank" ><span class="ion-social-github-outline"></span></a></h2></li>
            <li><h2><a href="https://www.facebook.com/sflocascio " target="_blank" ><span class="ion-social-facebook-outline"></span></a></h2></li>
          </ul>
    </div>
  </footer>


  </section>
  <!-- end : mastwrap -->






</section>
<!-- mastwrap-outer ends -->





<section class="share-panel white-bg fullheight">
      <a href="#0" class="share-panel-close white">x</a>
      {% comment %} <div class="share-panel-heading font3 dark"> Contact / Download Resume </div>
      <div class="share-panel-heading font3 dark"> Contact / Download Resume </div> {% endcomment %}
      <br>
      <br>
      <br>
      <br>
      
      <div class="valign">
      <p> Contact / Download Resume </p>
          <ul>
            {% comment %} <li><a href="#"><span class="ion-social-twitter dark"></span></a></li> {% endcomment %}
            <li><a href="mailto:sflocascio@gmail.com"><span class="ion-ios-email-outline dark"></span></a></li>
            
            <li><a href="https://www.dropbox.com/s/hs9jv4cgzzjrsu7/SamLoCascio.pdf?dl=0 " target="_blank" ><span class="ion-ios-download-outline dark"></span></a></li>
          </ul>
          <br>
          <p> Social  </p>
          <ul>
            {% comment %} <li><a href="#"><span class="ion-social-twitter dark"></span></a></li> {% endcomment %}
            <li><a href="https://www.linkedin.com/in/sam-locascio/" target="_blank" ><span class="ion-social-linkedin-outline"></span></a></li>
            <li><a href="https://github.com/sflocascio" target="_blank" ><span class="ion-social-github-outline"></span></a></li>
          <li><a href="https://www.facebook.com/sflocascio " target="_blank" ><span class="ion-social-facebook-outline"></span></a></li>
          </ul>
      </div>
</section>




  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    
  
  <script src= "{% static "javascripts/libs/common.js" %}" ></script>
  <script src="{% static "javascripts/libs/bootstrap.min.js" %}"></script>
  <script src="{% static "javascripts/custom/main.js" %}"></script>



</body>
</html>